$font-styles: (
  jumbo: (
    weight: bold,
    sizes: (
      xs: 3rem,
      sm: 3.5rem,
      md: 4rem,
      lg: 5rem,
      xl: 6rem
    ),
    line-aspect: 1.2,
  ),
  page-name: (
    weight: bold,
    sizes: (
      xs: 2.2rem,
      sm: 2.5rem,
      md: 2.9rem,
      lg: 3.5rem,
      xl: 4rem
    ),
    line-aspect: 1.2,
  ),
  large: (
    weight: normal,
    sizes: (
      xs: 1.5rem
    ),
    line-aspect: 1.3,
  ),
  post-title-detail: (
    weight: 500,
    sizes: (
      xs: 1.5rem,
      sm: 1.75rem,
      md: 2rem,
      lg: 2.5rem,
      xl: 3rem
    ),
    line-aspect: 1.2,
  ),
  h3: (
    weight: bold,
    sizes: (
      xs: 1.3rem,
      sm: 1.4rem,
      md: 1.5rem,
      lg: 1.75rem,
      xl: 2rem
    ),
    line-aspect: 1.2,
  ),
  h4: (
    weight: bold,
    sizes: (
      xs: 1.1rem,
      sm: 1.2rem,
      md: 1.3rem,
      lg: 1.5rem,
      xl: 1.8rem
    ),
    line-aspect: 1.2,
  ),
  h5: (
    weight: bold,
    sizes: (
      xs: 1.1rem,
      sm: 1.2rem,
      md: 1.3rem,
      lg: 1.5rem,
      xl: 1.75rem
    ),
    line-aspect: 1.2,
  ),

  subtitle: (
    weight: 500,
    sizes: (
      xs: 1.2rem,
      sm: 1.2rem,
      md: 1.5rem,
      // lg: 2.5rem,
      // xl: 3rem
    ),
    line-aspect: 1.2,
    additional: (
      color: theme-color(black),
    )
  ),

  person-name: (
    weight: bold,
    sizes: (
      xs: 1.1rem,
      sm: 1.2rem,
      md: 1.3rem,
      // lg: 2.5rem,
      // xl: 3rem
    ),
    line-aspect: 1.2,
    additional: (
      color: theme-color(black),
    )
  ),

  base: (
    weight: normal,
    sizes: (
      xs: 1rem,
    ),
    line-aspect: 1.3
  ),
  base-bold: (
    weight: bold,
    sizes: (
      xs: 1rem,
    ),
    line-aspect: 1.3
  ),
  small: (
    weight: normal,
    sizes: (
      xs: .8rem,
    ),
    line-aspect: 1.2
  )
);

@mixin font-style( $scope ) {

  $attrs: map-get( $font-styles, $scope );

  font-weight: map-get($attrs, weight);

  @each $bp, $size in map-get($attrs,sizes) {

    // @include media-breakpoint-up($bp){
    @media (min-width: map-get($grid-breakpoints, $bp) ) {
      font-size: $size;
      line-height: $size * map-get($attrs,line-aspect);
    }

  }

}

@each $scope, $params in $font-styles {
  .font-style__#{$scope} {
    @include font-style($scope);
  }
}
