/**
 * Custom mixins
 */

// Get the scope sizes from config
@function gscope($scope){
  @return map-get( $gutters, $scope );
}

// Check if a value is in the list
@function in_list($value, $list) {
  @return (false != index($list, $value));
}

@mixin gutter($sizes, $sides:all, $type:padding){

  @each $bp, $size in $sizes {

    @media ( min-width: map-get( $grid-breakpoints, $bp ) ) {

      @each $side in $sides {

        @if $side == "left" { #{$type}-left: $size; }
        @if $side == "right" { #{$type}-right: $size; }
        @if $side == "top" { #{$type}-top: $size; }
        @if $side == "bottom" { #{$type}-bottom: $size; }

        @if $side == "all" { #{$type}: $size; }

        @if $side == "vertical" { 
          #{$type}-top: $size;
          #{$type}-bottom: $size;
        }

        @if $side == "horizontal" { 
          #{$type}-left: $size;
          #{$type}-right: $size;
        }

      }

    }

  }

  // $props: map-get( $gutters, $scope );
  // @include gutter( gscope(base), vertical );

}

@mixin expand-list( $list, $prop ){
  @each $bp, $value in $list {
    @media ( min-width: map-get($grid-breakpoints,$bp) ) {
      #{$prop}: $value;
    }
  } 
}