

// Margins for strange bottom border behaviour

.svg-boundary-top {
  // margin-bottom: -1px;
}
.svg-boundary-bottom {
  // margin-top: -5px;
  transform: translateY(5px);
}

// Colouring the border

.svg-element-bg-secondary {
  fill: theme-color("secondary");
}