.t-vhide {
  position: absolute;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  clip-path: rect(0 0 0 0);
  margin: -1px;
}

img, video{max-width:100%}

.color-primary {
  color: theme-color("primary");
}
.color-secondary {
  color: theme-color("secondary");
}
.color-ternary {
  color: theme-color("ternary");
}
.color-gray {
  color: $gray-500;
  a {
    color: $gray-500;
  }
}

.bg-lightgray {
  background-color: $gray-100;
}