{var $title = "Analýzy v termokameře"}
{var $titleSeoPrefix = "Návod:"}

{block content}

  <blockquote class="alert alert-info mv-3">Videonávod níže ukáže, jak do obrazu přidávat bodové a plošné analýzy. Instrukce platí jak pro živý obraz, tak pro záznamy ve formátu LRC.</blockquote>
  <video controls poster="{$baseUrl}/static-content/docs/analysis/poster.jpg" preload="metadata">
    <source src="{$baseUrl}/static-content/docs/analysis/analyzy.mp4">
  </video>

  <div class="row mt-3">

    <div class="col-sm-12 col-md-6 mt-3">
            <h4>Zkuste také náš vyhodnocovací software LabIR&nbsp;Edu</h4>
            <p class="mb-3">Stáhněte si program určený pro zpracování radiometrických záznamů, které pořídíte termokamerou. Co ním dokážete?</p>
            <ul>
              <li>provádět <strong>pokročilé analýzy</strong>, které na kameře nejsou přístupné</li>
              <li>přesněji nastavit tepelný rozsah záznamu</li>
              <li>měnit teplotní parametry záznamu</li>
              <li><strong>Převádět LRC na video či obrázky.</strong></li>
            </ul>
            <a class="btn btn-text" n:href="Static:software">O našem software</a>
    </div>

  </div>

{/block}