{layout "../../../../BaseModule/Presenters/templates/@simple.latte"}

{var $title = "Návody"}
{var $titleSuffix = "Průběžně pracujeme na vylepšování uživatelské dokumentace"}

{block content}

  <section class="container t-section t-section__spaced text-center">
    <a class="btn btn-text" href="/static-content/experiments/LabIR_Edu_sada_pokusu.pdf">Sada pokusů ke stažení</a>
  </section>

  <div class="container t-section">
    
        <div class="t-exp--list__teasers t-exp--list__teasers__condensed">


              <a class="t-exp__teaser" href="{$baseUrl}/static-content/docs/navod/LabIR_Edu_termokamera_navod.pdf">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/navod/navod.png' )"></div>

                  <div  class="t-exp--content">

                      <h2 class="t-exp--title">Návod ke stažení</h2>

                      <div class="t-exp--desc">Uživatelská příručka ve formátu PDF.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Stáhnout PDF</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              <a class="t-exp__teaser" n:href="Documentation:analyzy">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/analysis/poster.jpg' )"></div>

                  <div class="t-exp--content">

                      <h2 class="t-exp--title">Analýzy</h2>

                      <div class="t-exp--desc">Teplotní minimum, maximum a průměr zvolené oblasti obrazu.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Číst</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              <a class="t-exp__teaser" n:href="Documentation:snimky">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/photo/poster.jpg' )"></div>

                  <div  class="t-exp--content">

                      <h2 class="t-exp--title">Pořizování snímků</h2>

                      <div class="t-exp--desc">Jak "fotit" s termokamerou.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Číst</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              <a class="t-exp__teaser" n:href="Documentation:videa">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/video/poster.jpg' )"></div>

                  <div  class="t-exp--content">

                      <h2 class="t-exp--title">Nahrávání videa</h2>

                      <div class="t-exp--desc">Jak zaznamenávat videa.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Číst</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              <a class="t-exp__teaser" n:href="Documentation:galerie">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/gallery/poster.png' )"></div>

                  <div  class="t-exp--content">

                      <h2 class="t-exp--title">Procházení záznamů</h2>

                      <div class="t-exp--desc">Jak zobrazovat a analyzovat pořízené záznamy.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Číst</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              <a class="t-exp__teaser" n:href="Documentation:rtsp">

                  <div class="t-exp--wrap">
                  
                  <div class="t-exp--image" style="background-image:url( '{$baseUrl}/static-content/docs/rtsp/stream_fb.jpg' )"></div>

                  <div  class="t-exp--content">

                      <h2 class="t-exp--title">Streamování obrazu z kamery</h2>

                      <div class="t-exp--desc">Jak se ke kameře připojit z počítače.</div>
                      <div class="t-exp--link">
                      <span class="t-exp--button">Číst</span>
                      </div>

                  </div>
                  
                  </div>
                  
              </a>

              


        </div>

    
    </div>
  </div>

{/block}