{var $title = "Prohlížení záznamů - galerie"}
{var $titleSeoPrefix = "Návod:"}

{block content}

  <blockquote class="alert alert-info mv-3"><i class="fas fa-folder-open"></i> Ikonka "Složka" zobrazí galerii záznamů uložených na připojeném flash disku.</blockquote>
        <p>V galerii můžete zobrazovat jak obrázky ve formátu PNG, tak zdrojové soubory snímků či sekvencí ve formátu LRC. Přímo v kameře můžete u LRC záznamů provádět analýzy či měnit parametry zobrazení (teplotní rozsah, emisivitu, barevnou paletu).</p>
        <video controls poster="{$baseUrl}/static-content/docs/gallery/poster.png" preload="metadata">
          <source src="{$baseUrl}/static-content/docs/gallery/galerie.mp4">
        </video>

        <div class="row mt-3">

          <div class="col-sm-12 col-md-6 mt-3">
            <h4>Analýzy záznamů</h4>
            <p class="mb-3">Při přehrávání záznamů můžete měnit ty samé parametry zobrazení, které nastavujete pro živý obraz:</p>
            <ul>
              <li>nastavení emisivity</li>
              <li>tepelný rozsah</li>
              <li>barevnou paletu termogramu (jet/iron)</li>
            </ul>
            <p>Při přehrávání záznamu můžete také <a n:href="Documentation:analyzy">přidávat analýzy</a> stejným způsobem, jakým je přidáváte do živého obrazu.</p>
            <div class="alert alert-info">Díky tomu můžete přímo na kameře získat ze záznamů maximum informací. Můžete také opravit případné nedostatky vzniklé při měření!</div>
          </div>

          <div class="col-sm-12 col-md-6 mt-3">
            <h4>Zkuste také náš vyhodnocovací software LabIR&nbsp;Edu</h4>
            <p class="mb-3">Stáhněte si program určený pro zpracování radiometrických záznamů, které pořídíte termokamerou. Co ním dokážete?</p>
            <ul>
              <li>provádět <strong>pokročilé analýzy</strong>, které na kameře nejsou přístupné</li>
              <li>přesněji nastavit tepelný rozsah záznamu</li>
              <li>měnit teplotní parametry záznamu</li>
              <li><strong>Převádět LRC na video či obrázky.</strong></li>
            </ul>
            <a class="btn btn-text" n:href="Static:software">O našem software</a>
          </div>

        </div>

{/block}