{var $title = "Streamování obrazu do počítače"}
{var $titleSeoPrefix = "Návod:"}
{var $description = "Jak připojit termokameru k počítači prostřednictvím protokolu RTSP."}

{block content}

  <blockquote class="alert alert-info mv-3">Po připojení kamery k počítači se kamera chová jako běžná IP kamera. Obraz můžete přistupoivat přes protokol RTSP.</blockquote>

        <div class="row mt-3">

          <div class="col-sm-12 mt-3">
            <h4>Co potřebujete pro živý stream?</h4>
            <ul>
              <li>Termokameru LabIR Edu</li>
              <li>Běžný síťový kabel (ethernet)</li>
              <li>Stativ</li>
              <li>Počítač s VLC či webovým prohlížečem
                  <ul>
                    <li>Kamera je přístupná přes běžný protokol rtsp://</li>
                    <li>Rádi Vám poradíme s propojením!</li>
                  </ul>
              </li>
            </ul>
          </div>

          <div class="col-sm-12 mt-3">
            <h4>Návod na připojení k termokameře</h4>
            <ol class="t-list__sequence">
              <li>
                <span class="t-list--wrap">
                  <strong>Umístěte termokameru na stativ</strong>
                  <ul>
                    <li>Termokamera LabIR Edu je kompatibilní s běžnými stativy pro fotoaparáty.</li>
                  </ul>
                </span>
              </li>
              <li>
                <span class="t-list--wrap">
                  <strong>Síťovým kabelem propojte kameru k počítači</strong>
                  <ul>
                    <li>Potřebujete standardní ethernetový kabel.</li>
                  </ul>
                </span>
              </li>
              <li>
                <span class="t-list--wrap">
                  <strong>V počítači otevřete obraz z&nbsp;termokamery</strong>
                    <ol>
                      <li><b>Po zapojení kabelu na kameře povolte síťové spojení</b><br>Settings > Network > Enable network connection<br><a class="t-gallery--item" href="{$baseUrl}/static-content/stream/networking.jpg" title="Povolte síťové spojení"><img class="lazy" data-src="{$baseUrl}/static-content/docs/rtsp/networking.jpg"></a></li>
                      <li class="mt-3">Nekolik sekund po povolení spojení <b>uvidíte IP adresu kamery</b>. <b>Pod ní je nutné zapnout streamování.</b><br>Settings > Network > IPv4 (příklad: <code>192.148.0.2</code>)<br><a class="t-gallery--item" href="{$baseUrl}/static-content/stream/rtsp.jpg" title="Povolte streamování spojení"><img class="lazy" data-src="{$baseUrl}/static-content/docs/rtsp/rtsp.jpg"></a></li>
                      <li class="mt-3"><b>V počítači</b> můžete kameru přistupovat například <b>přehrávačem VLC</b><br/>(pomocí Soubor > Otevřít ze síťe).</li>
                      <li class="mt-3"><b>Zadejte IP adresu termokamery</b> ve formátu <code><b>rtsp://</b>xxx.xxx.xx.x<b>:5540/live.sdp</b></code><br>příklad: <code>rtsp://192.148.0.2:5540/live.sdp</code></li>
                      <li class="mt-3"><b>Vidíte realtime obraz z termokamery!</b></li>
                    </ol>
                </span>
              </li>
              <li>
                <span class="t-list--wrap">
                  <strong>Sdílejte obraz žákům</strong>
                  <ul>
                    <li>Při provádění pokusů můžete žákům nasdílet vlastní obrazovku s otevřeným VLC.</li>
                  </ul>
                </span>
              </li>
            </ol>
          </div>

        </div>

{/block}