{var $title = "Pořizování snímků"}
{var $titleSeoPrefix = "Návod:"}
{var $description = "Základní funkcí termokamery je pořizování snímků."}

{block content}
  <blockquote class="alert alert-info mv-3"><i class="far fa-save"></i> Ikonka "Uložit" zapíše na připojený flash disk obrázek PNG i radiometrická data z IR čipu.</blockquote>
  <video controls poster="{$baseUrl}/static-content/docs/photo/poster.jpg" preload="metadata">
    <source src="{$baseUrl}/static-content/docs/photo/snimky_v1.mp4">
  </video>

  <div class="row mt-3">
    
    <div class="col-sm-12 mt-3">
      <blockquote>Uloženy jsou vždy 2 soubory:</p>
    </div>

    <div class="col-sm-12 col-md-6 mt-3">
      <h4>Obrázek PNG</h4>
      <p class="mb-3">Na obrázku je zaznamenáno přesně to, co jste viděli na obrazovce termokamery.</p>
      <ul>
        <li>Rozlišení obrázku: 640x480 px</li>
        <li>Snímek představuje záznam toho, co bylo zobrazeno na obrazovce kamery, a to včetně:
          <ul>
            <li>aktuální barevné palety (iron/jet)</li>
            <li>aktuální tepelné škály</li>
            <li>analýz, které si v obraze nastavíte</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6 mt-3">
      <h4>Zdrojový soubor LRC</h4>
      <p class="mb-3">LRC je zdrojový soubor určený pro další analýzu, protože zaznamenává radiometrická data z čipu - teploty v kelvinech.</p>
      <p>Při zpracování zdrojového souboru je možné měnit mnohé parametry jako např.: barevnou škálu, teplotní rozsah a zejména <a n:href="Documentation:analyzy">teplotní analýzy</a>. Díky tomu můžete z obrázku dostat i to, co jste při focení mohli přehlédnout. A kde můžete analýzy provádět?</p>
      <ul>
        <li>a) <strong>Analýza záznamu přímo v kameře</strong><br/>Záznamy můžete základním způsobem vyhodnocovat provádět přímo v kameře - při <a n:href="Documentation:galerie">procházení galerie</a>.</li>
        <li>b) <strong>Vyhodnocovací software pro PC</strong><br/>Soubor LRC otevřete také v našem vyhodnocovacím software <a n:href="Static:software">LabIR Edu</a>, jehož možnosti jsou mnohem pokročilejší oproti analýzám v kameře.</li>
      </ul>
    </div>

  </div>

  <div class="col-sm-12">
    <div class="alert alert-info">
      <h6><i class="fas fa-lightbulb"></i> Názvosloví</h6>
      <div>Záznamům infračerveného záření říkáme "termogramy".</div>
    </div>
  </div>

{/block}