{var $title = "Pořizování videí"}
{var $titleSeoPrefix = "Návod:"}
{var $description = "Termokamery umí pořizovat záznamy sekvencí. Jak na to?"}

{block content}

  <blockquote class="alert alert-info mv-3"><i class="fas fa-circle"></i> Ikonka "Nahrávat" spustí nahrávání sekvence. Záznam bude uložen ve formátu LRC, který můžete přehrát přímo na kameře. Můžete také využít vyhodnocovací software LabIR Edu pro počítače.</blockquote>
  <video controls poster="{$baseUrl}/static-content/docs/video/poster.jpg" preload="metadata">
    <source src="{$baseUrl}/static-content/docs/video/videa.mp4">
  </video>

  <div class="row mt-3">

    <div class="col-sm-12 col-md-6 mt-3">
      <h4>Co je LRC</h4>
      <p class="mb-3"><b>L</b>abIR <b>R</b>e<b>C</b>ording je zdrojový soubor určený pro další analýzu, protože zaznamenává radiometrická data z čipu - teploty a teplotní parametry.</p>
      <p>Během zpracování můžete ze záznamu dostat i to, co jste při provádění experimentu mohli přehlédnout. A kde můžete analýzy provádět?</p>
      <ul>
        <li>a) <strong>Analýza záznamu přímo v kameře</strong><br/>Záznamy můžete základním způsobem vyhodnocovat přímo v kameře - při <a n:href="Documentation:galerie">procházení galerie</a>.</li>
        <li>b) <strong>Vyhodnocovací software pro PC</strong><br/>Soubor LRC otevřete také v našem vyhodnocovacím software <a n:href="Static:software">LabIR Edu</a>, jehož možnosti jsou mnohem pokročilejší oproti analýzám v kameře.</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6 mt-3">
            <h4>Zkuste také náš vyhodnocovací software LabIR&nbsp;Edu</h4>
            <p class="mb-3">Stáhněte si program určený pro zpracování radiometrických záznamů, které pořídíte termokamerou. Co ním dokážete?</p>
            <ul>
              <li>provádět <strong>pokročilé analýzy</strong>, které na kameře nejsou přístupné</li>
              <li>přesněji nastavit tepelný rozsah záznamu</li>
              <li>měnit teplotní parametry záznamu</li>
              <li><strong>Převádět LRC na video či obrázky.</strong></li>
            </ul>
            <a class="btn btn-text" n:href="Static:software">O našem software</a>

    </div>

    <div class="col-sm-12">
      <div class="alert alert-info mb-3">
        <h6><i class="fas fa-lightbulb"></i> Názvosloví</h6>
        <div>Záznamům infračerveného záření říkáme "termogramy".</div>
      </div>
      <div class="alert alert-info mb-3">
        <h6><i class="fas fa-lightbulb"></i> Radiometrická data</h6>
        <div>Teploty a teplotní parametry, které je možné později vyhodnotit <a n:href="Static:software">v PC</a>.</div>
      </div>
    </div>
  </div>

{/block}