<!-- The footer -->
<svg version="1.1" id="footer-boundary" class="svg-boundary-bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 555 24" style="enable-background:new 0 0 555 24;" xml:space="preserve">
  <path d="M555,12.8c0,0-38.4-25-227.4-5c-180,19-327.6,5-327.6,5V24h555V12.8z" class="svg-element-bg-secondary"/>
</svg>

<script>
    tinymce.init({
      selector: '.tiny',
      plugins: 'autolink lists code link charmap print preview hr anchor table',
      toolbar_mode: 'floating',
      toolbar: 'undo redo | formatselect | ' + 'bold italic | bullist numlist outdent indent | ' + 'removeformat table code',
      menubar: "false",
      entity_encoding : 'raw'
      // height: "480"
   });

   tinymce.init({
      selector: '.tiny-minimal',
      plugins: 'autolink lists link charmap print preview hr anchor table',
      toolbar_mode: 'floating',
      toolbar: 'undo redo | ' + 'bold italic | bullist numlist outdent | ' + 'removeformat | code',
      menubar: "false",
      entity_encoding : 'raw'
      // height: "480"
   });
  </script>

<footer class="t-footer">
  <div class="container">
    <div class="row">

      <!-- Nositel projektu -->
      <aside class="col-sm-12 col-md-8 col-lg-9">

        <h4>{_footer.titles.project}</h4>
        <div class="t-logo--list">

          <div class="t-logo--item">
            <img src="{$basePath}/static-content/logos/footer/ntc-zcu.svg">
          </div>

        </div>
      </aside>

      <!-- Odkazy na sociální sítě -->
      <aside class="col-sm-12 col-md-4 col-lg-3">

        <h4 id="footerFollowusTitle">{_footer.titles.followus}</h4>

        <nav class="nav-menu" aria-labelledby="#footerFollowusTitle">
          {control menuSocial}
        </nav>
      </aside>

      <!-- Loga partnerů -->
      <aside class="col-sm-12">

        <h4 id="footerPartnersTitle"">{_footer.titles.partners}</h4>

        <div class="t-logo--list" role="list" aria-labelledby="#footerPartnersTitle">
          {control menuPartners}
        </div>

      </aside>

      <!-- Loga sponzorů -->
      <aside class="col-sm-12">

        <h4 id="footerSponsorsTitle">{_footer.titles.sponsors}</h4>
        <div class="t-logo--list" role="list" aria-labelledby="#footerSponsorsTitle">
          {control menuSponsors}
        </div>
      </aside>

    </div>
  </div>
</footer>