{define menu-branch, $itemsParent}
	<ul n:if="$itemsParent->hasVisibleItemsOnMenu()">

    {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

		<li n:if="$item->isAllowed()" n:class="dropdown, $item->isActive() ? active">
			<a href="{$item->getRealLink()}" n:class="$item->isActive() ? active">{$item->getRealTitle()}</a>
			{include menu-branch, $item}
		</li>

    {/foreach}
	</ul>
{/define}

{include menu-branch, $menu}