{define menu-branch, $itemsParent}

    {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

			<a href="{$item->getRealLink()}" class="t-logo--item" target="_blank" title="{$item->getRealTitle()}" role="listitem">
				<img src="{$basePath}/static-content/logos/footer/{$item->getData('image')}" alt='{$item->getRealTitle()}'>
			</a>

			{include menu-branch, $item}

    {/foreach}

{/define}

{include menu-branch, $menu}