{define menu-branch, $itemsParent}
	<ul n:if="$itemsParent->hasVisibleItemsOnMenu()" class="t-footer--smenu">

    {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

		<li>
			<a href="{$item->getRealLink()}" target="_blank" title="{$item->getRealTitle()}">
				<i class="fab {$item->getData('icon')} fa-3x"></i>
			</a>
			{include menu-branch, $item}
		</li>

    {/foreach}
	</ul>
{/define}

{include menu-branch, $menu}