{define submenu-branch, $itemsParent}
  {if $itemsParent->hasVisibleItemsOnMenu()}
    <div class="dropdown-menu">
      {foreach $itemsParent->getVisibleItemsOnMenu() as $item}
        <a n:if="$item->isAllowed()" class="dropdown-item" href="{$item->getRealLink()}">{$item->getRealTitle()}</a>
      {/foreach}
    </div>
  {/if}
{/define}

{define menu-branch, $itemsParent, $title}
  {var $children = count($itemsParent->getVisibleItemsOnMenu() )}
  {if $children > 0}
    
          <ul class="navbar-nav mr-auto">

            {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

            {var $itemChildrenCount = count( $item->getVisibleItemsOnMenu() )}
            {if $itemChildrenCount > 0}
              <li n:if="$item->isAllowed()" n:class="nav-item,dropdown, $item->isActive() ? active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {$item->getRealTitle()}
                </a>
                {include submenu-branch, $item}
              </li>
            {else}
              <li n:class="nav-item,$item->isActive() ? active">
                <a class="nav-link" href="{$item->getRealLink()}">{$item->getRealTitle()}</a>
              </li>
            {/if}

            

            {/foreach}

          </ul>


  {/if}
{/define}

{include menu-branch, $menu}


