{define menu-branch, $itemsParent}
	<div n:if="$itemsParent->hasVisibleItemsOnMenu()" class="btn-group" role="group">

    {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

			<a n:if="$item->isAllowed()" href="{$item->getRealLink()}" n:class="$item->isActive() ? btn-text : btn-outline-text, btn">
				{$item->getRealTitle()}
			</a>
			{include menu-branch, $item}

    {/foreach}
	</div>
{/define}

{include menu-branch, $menu}