{define menu-branch, $itemsParent}
	<ul n:if="$itemsParent->hasVisibleItemsOnMenu()" class="t-nav__book">

    {foreach $itemsParent->getVisibleItemsOnMenu() as $item}

		<li n:if="$item->isAllowed()">
			<a href="{$item->getRealLink()}" n:class="$item->isActive() ? active">
				{$item->getRealTitle()}
			</a>
			{if $item->hasVisibleItemsOnMenu()}		<span class="expander"></span>
			{/if}
			{include menu-branch, $item}
		</li>

    {/foreach}
	</ul>
{/define}

{include menu-branch, $menu}