

<!-- The main site navigation -->
<header class="t-nav">

{if $user->isInRole("admin")}
  <!-- Administrative navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="background-color: black !important;">
    <div class="container">
      <a class="navbar-brand" n:href=":Admin:User:settings">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{_menuAdmin.messages.ariaToggle}">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Administration menu -->
        {control menuAdmin}

      </div>
    </div>
  </nav>
{/if}

{if $user->isInRole("member")}
  <!-- Administrative navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand" n:href=":Admin:User:settings">{$userRealName}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{_menuAdmin.messages.ariaToggle}">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Administration menu -->
        {control menuUser}

        <ul class="navbar-nav">
          <li class="nav-item">
            <a n:href=":Admin:User:settings" class="nav-link">Můj účet</a>
          </li>
          <li class="nav-item">
            <a n:href=":Front:Sign:logout" class="nav-link">Odhlásit se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{/if}


  <div class="t-nav--container">
    <div class="t-nav--part t-nav--part__left">
      <a class="t-nav--logo" n:href=":Front:Static:default">
        <img src="{$basePath}/static-content/logos/LabIR-Edu_black.svg">
      </a>

      <button class="t-nav--trigger hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </div>
    <div class="t-nav--part t-nav--part__right">

      <nav class="" aria-labelledby="#navdesc">
        <p id="navdesc" class="t-vhide">Hlavní navigace</p>
				<div class="t-nav--menu">
					{control menuFront}
				</div>
      </nav>

    </div>
  </div>
</header>
<div class="t-nav--blocker"></div>

