/**
 * Override the Bootstrap defaults:
 * https://getbootstrap.com/docs/4.5/getting-started/theming/
 */


/**
 * 0. Global options
 */
 $enable-rounded: false;
 $enable-responsive-font-sizes: true;
 
 /**
  * 1. Colors
  */
 $theme-colors: (
   primary: #FF00D8,
   secondary: #1B1464,
   text: #000,
   ternary: #fcf7bd,
 );

/**
 * 2. Gutters & Grid
 */

// The grid is not used
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  mm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/**
 * 3. Typography
 */
 $font-family-sans-serif: "Arial", "Helvetica Neue", "Roboto", sans-serif;

 $headings-font-weight: bold;

/**
 * 4. Particular components
 */

// Navbar

// Navbar Colors
$navbar-light-color: theme-color("text");
$navbar-light-hover-color: theme-color("primary");
$navbar-light-active-color: $navbar-light-hover-color;
$navbar-light-brand-color: $navbar-light-color;
$navbar-light-brand-hover-color: $navbar-light-hover-color;

// Navbar dimensions
// $navbar-padding-y: $spacer * 2;

// Card
$card-cap-bg: white;