/**
 * Define variables for custom components
 * 
 * This gets loaded after the bootstrap.
 */





// Spacers from Bootstrap are not used at all
// Insted, we do use custom gutters which are included as mixins
$gutters: (
  base: (
    xs: 1rem,
    lg: 2rem
  ),
  double: (
    xs: 2rem
  ),
  half: (
    xs: .5rem
  )
);




// Navbar no more! Use t-nav instead

$t-nav-breakpoint: lg;

$t-nav-heights: (
  xs: (
    max: 80px,
    min: 70px,
  ),
  sm: (
    max: 100px,
    min: 80px
  ),
  lg: (
    max: 120px,
    min: 100px
  )
);