<!-- Aktuality -->
  <section class="t-section t-section__spaced">

    <div class="t-bubble-list">

      <!-- Soutěž - vyhlášení -->
      <a class="t-bubble t-bubble__in-2 t-bubble__out-1" n:href=":Front:Static:soutez" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/illustrations-children/bubble-telocvicna.jpg">
        </figure>
        <h3>Výsledky soutěže Termotalent 2020/21</h3>
        <p>Dne 25. 5. 2021 proběhlo vyhlášení vítězů prvního ročníku soutěže Termotalent 2020.</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Gratulujeme vítězům</span>
        </div>
      </a>

      <!-- SPIE -->
      <a class="t-bubble t-bubble__in-5 t-bubble__out-5" n:href=":Front:Static:zapojit" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/logos/bubbles/SPIE-logo-reverse.png">
        </figure>
        <h3>Podruhé jsme získali prestižní grant SPIE Outreach 2021</h3>
        <p>Porota SPIE (Mezinárodní společnost pro optiku a fotoniku) i letos zařadila projekt LabIR Edu do celosvětového výběru vzdělávacích aktivit. Nově získaný grant využijeme pro rozšíření našich aktivit za hranice Plzeňského kraje.</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Zapojte se!</span>
        </div>
      </a>

      <!-- Distanřní výuka -->
      <a class="t-bubble t-bubble__in-4 t-bubble__out-2" n:href=":Front:Documentation:rtsp" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/docs/rtsp/stream_thumb.jpg">
        </figure>
        <h3>Termokamery v distanční výuce</h3>
        <p>Naše termokamera podporuje online streamování. Chcete být mezi prvními, kdo naši kameru využije v distančním vzdělávání?</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Více informací</span>
        </div>
      </a>

      <!-- Kurz -->
      <a class="t-bubble t-bubble__in-3 t-bubble__out-3" n:href=":Front:Static:course" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/camera/horizontal-camera-in-hands-on-table.jpg">
        </figure>
        <h3>Kurz pro učitele</h3>
        <p>Naučte se využívat termokameru ve Vaší výuce!</p>
        <p>Náš kurz nově získal oficiální akreditaci ZČU.</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Více informací</span>
        </div>
      </a>

      

      <!-- LabIR Health -->
      <a class="t-bubble t-bubble__in-1 t-bubble__out-3" href="https://www.facebook.com/TermovizeDoSkol/posts/4615139971860932" target="_blank" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/illustrations-general/bubble-zdravtedi.jpg">
        </figure>
        <h3>Využití termokamer v boji proti epidemiím</h3>
        <p>NTC ZČU ve spolupráci s FZS ZČU a Techmania Science Center zahajují výzkumný projekt v oblasti termokamerového systému měření teploty osob.</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Sledujte náš pokrok!</span>
        </div>
      </a>

    </div>
  </section>