<!-- Definition of clip paths -->
<svg height="0" width="0" style="position: absolute">
        <defs>
        <!-- Standard clips -->
        <clipPath id="clip1">
            <path d="M 152.83599,19.525353 C 73.229614,46.673644 2.4683911,73.821938 29.003849,122.08559 c 26.535457,48.26364 8.845147,57.31305 56.019298,84.46135 47.174153,27.14833 150.367613,60.32954 165.109543,-6.03295 14.74191,-66.36249 76.65799,9.04944 61.91607,-48.26364 C 297.30684,94.937295 297.30684,13.492376 152.83599,19.525353 Z">
        </clipPath>
        <clipPath id="clip2">
            <path d="M 165.69313,46.66821 C 90.372471,-21.183499 29.937377,33.225358 42.575278,146.3713 c 9.151967,81.93672 -3.297711,73.74163 61.019302,63.74707 53.78274,-8.35758 71.83158,24.88609 138.68097,12.53848 38.31334,-7.07678 60.22942,-18.80771 45.4875,-76.12079 C 273.02113,89.223009 363.02113,35.635233 165.69313,46.66821 Z">
        </clipPath>
        <clipPath id="clip3">
            <path d="M 99.978847,40.239639 C 79.658185,85.959358 126.36595,63.225358 85.43242,89.942733 16.391239,135.00601 35.706139,235.82721 100.02315,225.83265 c 53.78274,-8.35758 57.54586,11.31466 124.39525,-1.03295 38.31334,-7.07677 16.67414,-23.987 48.34465,-73.97792 C 297.30684,112.08015 297.30684,29.206662 99.978847,40.239639 Z">
        </clipPath>
        <clipPath id="clip4">
            <path d="M 109.26456,26.66821 C 46.801043,27.38793 121.36595,62.511072 80.43242,89.228447 11.391239,134.29173 54.277567,234.39864 118.59458,224.40408 c 53.78274,-8.35758 21.83158,27.02895 88.68097,14.68134 38.31334,-7.07678 89.32427,-57.40785 69.77321,-113.26364 C 228.73541,-12.205562 108.73541,57.063805 109.26456,26.66821 Z">
        </clipPath>
        <clipPath id="clip5">
            <path d="M 157.1217,49.525353 C -14.627529,36.673644 89.763345,83.396629 74.718135,102.79988 36.889157,151.5865 47.398837,233.65441 112.166,240.11837 221.66303,251.0465 221.14044,200.00446 236.56126,195.51399 273.96897,184.62105 317.1986,141.52499 289.19162,89.393207 232.30684,-16.491277 185.87827,57.77809 157.1217,49.525353 Z">
        </clipPath>
        <!-- Hover clips -->
        <clipPath id="clip1hover">
            <path d="M 124.58145,8.4285431 C 19.216189,14.363631 24.45571,67.196383 29.003849,122.08559 c 6.927925,83.60964 -16.507641,85.75577 11.473612,99.26701 49.013342,23.66695 212.748539,32.85115 253.205629,2.71179 58.22893,-43.37886 52.5505,-41.81617 44.07996,-100.38547 C 321.00082,7.7770188 269.0523,2.3955661 124.58145,8.4285431 Z">
        </clipPath>
        <clipPath id="clip2hover">
            <path d="M 154.26456,25.239639 C -17.484672,12.38793 36.906202,81.253772 21.860992,100.65702 -15.967986,149.44364 47.398837,233.65441 112.166,240.11837 221.66303,251.0465 256.85473,219.29017 272.27555,214.7997 309.68325,203.90676 353.62717,140.09641 325.62019,87.964636 268.73541,-17.919848 183.02113,33.492376 154.26456,25.239639 Z">
        </clipPath>
        <clipPath id="clip3hover">
            <path d="M 200.69313,25.953924 C -8.9132432,0.24507252 91.906202,61.968057 21.860992,132.79988 c -43.408565,43.89604 41.700856,74.07063 98.876438,105.17563 67.35417,36.64242 71.1173,-59.39962 136.53812,-5.31866 30.02927,24.82408 41.42125,-39.02156 54.05892,-96.83507 C 345.87827,-22.205562 229.4497,34.206662 200.69313,25.953924 Z">
        </clipPath>
        <clipPath id="clip4hover">
            <path d="M 186.40742,31.66821 C 139.65819,-35.469213 8.0007299,23.734484 21.860992,132.79988 c 14.359843,112.99656 38.843713,127.64206 133.876438,94.46135 72.3907,-25.27524 126.83158,35.60037 167.96669,3.96705 30.88505,-23.75093 14.13146,-42.49332 -12.36965,-95.4065 -8.31334,-16.59877 90.97237,-161.615118 -124.92705,-104.15357 z">
        </clipPath>
        <clipPath id="clip5hover">
            <path d="M 187.83599,16.66821 C 12.515328,-16.897785 10.857873,98.020198 18.289563,133.51416 41.632761,245.00193 94.990419,252.58479 125.73743,239.40408 c 70.47378,-30.21088 156.1173,14.17181 181.53812,-3.1758 32.18201,-21.96157 20.88967,-47.18922 15.4875,-106.12079 C 316.59255,62.794438 348.73541,9.9209474 187.83599,16.66821 Z">
        </clipPath>

        <!-- Ořezové třídy pro Karla -->
        <!-- Left -->
        <clipPath id="karel1L" clipPathUnits="objectBoundingBox">
            <path d="M1,0.004 C0.905,0.027,0.818,0.262,0.724,0.168 C0.481,-0.075,0.174,0.115,0.113,0.207 c-0.235,0.351,-0.025,0.843,0.164,0.752 c0.154,-0.074,0.104,0.019,0.266,-0.002 c0.157,-0.021,0.466,0.047,0.466,0.047">
        </clipPath>
        <clipPath id="karel2L" clipPathUnits="objectBoundingBox">
            <path d="M1,0.004 C0.902,0.027,0.54,0.175,0.422,0.115 C0.291,0.048,0.27,0.234,0.163,0.263 C0.055,0.291,-0.052,0.729,0.039,0.858 C0.208,1,0.492,0.941,0.649,0.944 c0.157,0.003,0.356,0.06,0.356,0.06">
        </clipPath>
        <clipPath id="karel3L" clipPathUnits="objectBoundingBox">
            <path d="M1,0.004 C0.916,0.027,0.836,0.04,0.728,0.12 C0.597,0.216,0.409,0.099,0.245,0.117 C0.14,0.128,0.151,0.307,0.068,0.454 C-0.017,0.604,0.021,0.805,0.12,0.876 c0.153,0.109,0.265,0.103,0.429,0.082 c0.159,-0.021,0.471,0.047,0.471,0.047">
        </clipPath>
        <clipPath id="karel4L" clipPathUnits="objectBoundingBox">
            <path d="m1,0.004 c-0.103,0.023,-0.197,-0.014,-0.306,0.065 c-0.133,0.097,-0.034,-0.009,-0.302,0.072 c-0.102,0.031,-0.486,0.045,-0.367,0.348 c0.14,0.356,-0.079,0.365,0.021,0.435 c0.154,0.109,0.315,0.054,0.48,0.033 c0.16,-0.021,0.476,0.047,0.476,0.047">
        </clipPath>
        <clipPath id="karel5L" clipPathUnits="objectBoundingBox">
            <path d="M1,0.004 C0.95,0.027,0.853,-0.01,0.741,0.069 C0.605,0.166,0.664,0,0.389,0.081 C0.284,0.112,-0.019,0.282,0.108,0.585 c0.067,0.161,-0.121,0.25,-0.018,0.32 c0.159,0.109,0.309,0.074,0.48,0.053 c0.164,-0.021,0.489,0.047,0.489,0.047">
        </clipPath>

        <!-- Right -->
        <clipPath id="karel1R" clipPathUnits="objectBoundingBox">
            <path d="m0,0 c0.106,0.023,0.204,-0.014,0.316,0.066 c0.137,0.097,0.077,-0.069,0.353,0.013 c0.105,0.031,0.408,0.201,0.282,0.503 c-0.067,0.161,0.121,0.25,0.018,0.32 c-0.159,0.109,-0.31,0.074,-0.481,0.053 C0.323,0.934,0,1,0,1">
        </clipPath>
        <clipPath id="karel2R" clipPathUnits="objectBoundingBox">
            <path d="m0,0.054 c0.101,0.025,0.177,0.068,0.301,0.017 c0.165,-0.067,0.181,0.033,0.444,0.121 c0.1,0.033,0.342,0.172,0.222,0.497 c-0.064,0.173,0.007,0.219,-0.096,0.287 C0.583,1,0.417,0.934,0.254,0.911 C0.097,0.889,0,0.967,0,0.967">
        </clipPath>
        <clipPath id="karel3R" clipPathUnits="objectBoundingBox">
            <path d="M0,0.053 C0.104,0.077,0.218,0.033,0.355,0.04 C0.98,0.07,0.537,0.176,0.809,0.259 c0.271,0.083,0.099,0.081,0.183,0.449 c0.041,0.179,-0.075,0.207,-0.174,0.284 c-0.166,0.129,-0.391,-0.051,-0.553,0 C0.07,1,0,0.957,0,0.957">
        </clipPath>
        <clipPath id="karel4R" clipPathUnits="objectBoundingBox">
            <path d="M0,0.105 C0.109,0.03,0.222,0.021,0.361,0.039 C0.866,0.105,0.979,0.304,0.828,0.527 c-0.051,0.075,0.103,0.084,0.143,0.213 c0.125,0.412,-0.181,0.154,-0.282,0.23 c-0.168,0.127,-0.322,0.025,-0.446,-0.033 C0.055,0.851,0,1,0,1">
        </clipPath>
        <clipPath id="karel5R" clipPathUnits="objectBoundingBox">
            <path d="M0,0.105 C0.228,0.129,0.337,0.012,0.471,0.033 C0.762,0.079,1,0.292,0.992,0.467 c-0.03,0.086,-0.131,0.048,-0.092,0.177 c0.122,0.414,-0.051,0.29,-0.15,0.366 C0.468,0.779,0.243,1,0,1">
        </clipPath>

        </defs>
    
</svg>