{block content}

  {if $canDelete}

    <a n:href="Locality:deleteLocality $locality->id" class="btn btn-primary">Smazat lokalitu</a>

  {else}

    <p>{_locality.msg.delete_first} {_locality.msg.child_localities}:</p>

    <ul class="">
      <li n:foreach="$children as $child">
        <a n:href="Locality:delete $child->id">
          {$child->name}
        </a>
      </li>
    </ul>

  {/if}

{/block}