<section class="t-karel {$classes}" {if $aos}data-aos="fade-up"{/if}>
  <div class="t-karel--part t-karel--part__text">
    <div class="t-karel--wrap">
      <{$title['element']} class="{$title['class']}">{$title['text']}</{$title['element']}>
      <p n:foreach="$paragraphs as $paragraph" class="{$paragraph['class']}">{$paragraph["text"]}</p>
      {if count($buttons) > 0}
      <div class="btn-group" role="group">
          <a n:foreach="$buttons as $button" href="{$button['link']}" class="btn {$button['class']}" {if $button['target']}target="{$button['target']}"{/if}>{$button['text']}</a>
      </div>
      {/if}
    </div>
  </div>
  <div class="t-karel--part t-karel--part__image">
    <div class="t-karel--wrap">
    {if $media["video"] == false}
      <img class="lazy" data-src="{$basePath}{$media['path']}">
    </div>
    {elseif $media["video"] == true}
      <video autoplay="" muted="" loop="" class="t-karel--video">
        <source src="{$basePath}{$media['path']}" type="video/mp4">
        <img src="{$basePath}/assets/images/video/placeholder.jpg">
      </video>
    {/if}
  </div>
</section>