<!DOCTYPE html>
<html lang="{$locale}">
	<head>

		{include "Head/metadata.latte"}

		{include "Head/assets.latte"}
		
		{ifset head}{include head}{/ifset}

	</head>

	<body class="{$classes|formatClasses}">

		{ifset bodyStart}{include bodyStart}{/ifset}
	
		<!-- Crop paths -->
		{include "Partials/crops.latte"}

		<!-- Main navigation -->
		{include "Navigation/siteHeader.latte"}

		<!-- The main content -->
		
		<main>

			<section class="container t-section t-section__heading">

				<div class="t-section--prefix">Námět na pokus</div>
				<h1 class="t-section--page-name">{$title}</h1>

			</section>

			<!-- Flashes -->
			<section class="container">
				{include "Partials/flashes.latte"}
			</section>

  		<section class="container t-exp t-exp__detail">

				<ul class="t-exp--tags t-exp--tags__center">
					<li n:foreach="$subjects as $subject" class="t-exp--tag__gray t-exp--tag__small">{$subject}</li>
				</ul>

				<div class="t-b--list">

					{include content}

				</div>

  		</section>


			<section class="container t-section t-section__spaced">

				<h2 class="text-center font-style__h3 mb-5 mt-5">Prozkoumejte další pokusy!</h2>

				<div class="t-exp--list__teasers">


						<a n:foreach="$footerData as $key => $item" class="t-exp__teaser aos-init" data-aos="fade-up" n:href=":Front:Static:{$key}">

								<div class="t-exp--wrap">
								
								<div class="t-exp--image" style="background-image:url( '{$item['image']}' )"></div>

								<div class="t-exp--content">

										<h2 class="t-exp--title">{$item['name']}</h2>

										<div class="t-exp--desc">{$item['desc']}</div>
										<div class="t-exp--link">
										<span class="t-exp--button">Zobrazit</span>
										</div>

								</div>
								
								</div>
								
						</a>



				</div>

				<div class="text-center pb-5">
					<a class="btn btn-outline-text" n:href=":Front:ExperimentTemp:default">Všechny náměty na pokusy</a>
				</div>

			</section>

		</main>

		{include "Footer/footer.latte"}

		{ifset bodyEnd}{include bodyEnd}{/ifset}

	</body>
	
</html>







