<!DOCTYPE html>
<html lang="{$locale}">
	<head>

		{include "Head/metadata.latte"}

		{include "Head/assets.latte"}
		
		{ifset head}{include head}{/ifset}

	</head>

	<body class="{$classes|formatClasses}">

		{ifset bodyStart}{include bodyStart}{/ifset}
	
		<!-- Crop paths -->
		{include "Partials/crops.latte"}

		<!-- Main navigation -->
		{include "Navigation/siteHeader.latte"}

		<!-- Flashes -->
		<section class="container">
			{include "Partials/flashes.latte"}
		</section>

		<!-- The main content -->
		{include content}

		{include "Footer/footer.latte"}

		{ifset bodyEnd}{include bodyEnd}{/ifset}

	</body>
  
</html>
