<!DOCTYPE html>
<html lang="{$locale}">
	<head>

		{include "Head/metadata.latte"}

		{include "Head/assets.latte"}
		
		{ifset head}{include head}{/ifset}

	</head>

	<body class="{$classes|formatClasses}">

		{ifset bodyStart}{include bodyStart}{/ifset}
	
		<!-- Crop paths -->
		{include "Partials/crops.latte"}

		<!-- Main navigation -->
		{include "Navigation/siteHeader.latte"}

		<!-- The main content -->
		
		<div class="container t-section t-section__spaced">
			<div class="row">
				
				<main class="col-12 col-md-9 order-xs-1 order-sm-1 order-md-12">
					<article>
						<header class="mb-2">
							<h1 class="font-style__h4">{$title}</h1>
							<!--
							<nav id="documentationBreadcrumb" aria-labelledby="#documentationBreadcrumbTitle">
								<p id="documentationBreadcrumbTitle" class="t-vhide">Drobečková navigace</p>
								<a n:href=":Admin:User:profile">Nastavení</a> / {control menuSettings:breadcrumbs}
							</nav>
							-->
						</header>

						<!-- Flashes -->
						<section>
							{include "Partials/flashes.latte"}
						</section>

						{include content}

					</article>
				</main>

				<aside class="col-12 col-md-3">
					<h2 class="font-style__h4">
						<!-- {$userName} -->
						Nastavení
					</h2>
					{control menuSettings}
				</aside>
			</div>
		</div>

		{include "Footer/footer.latte"}

		{ifset bodyEnd}{include bodyEnd}{/ifset}

	</body>
	
</html>







