<!DOCTYPE html>
<html lang="{$locale}">
	<head>

		{include "Head/metadata.latte"}

		{include "Head/assets.latte"}
		
		{ifset head}{include head}{/ifset}

	</head>

	<body class="{$classes|formatClasses}">

		{ifset bodyStart}{include bodyStart}{/ifset}
	
		<!-- Crop paths -->
		{include "Partials/crops.latte"}

		<!-- Main navigation -->
		{include "Navigation/siteHeader.latte"}

		

		<!-- The main content -->
		
		<main>

			<section class="container t-section t-section__heading">

				{ifset $titlePrefix}<div class="t-section--suffix">{$titlePrefix}</div>{/ifset}

				<h1 class="t-section--page-name {if $titleSuffix === true }t-section--page-name__underline{/if}">{$title|translate}</h1>

				{ifset $titleSuffix}{if $titleSuffix !== true}<div class="t-section--suffix">{$titleSuffix|translate}</div>{/if}{/ifset}

			</section>

			<!-- Flashes -->
			<section class="container">
				{include "Partials/flashes.latte"}
			</section>

			{if gettype($layoutContainer)=="string"}<section class="{$layoutContainer}">{/if}

				{if gettype($layoutRow)=="string"}<div class="{$layoutRow}">{/if}

					{if gettype($layoutColumn)=="string"}<div class="{$layoutColumn}">{/if}
			
						{include content}

					{if gettype($layoutRow)=="string"}<div>{/if}

				{if gettype($layoutRow)=="string"}</div>{/if}

			{if gettype($layoutContainer)=="string"}</section>{/if}

		</main>

		{include "Footer/footer.latte"}

		{ifset bodyEnd}{include bodyEnd}{/ifset}

	</body>
	
</html>







