.t-home--cam {

}

.t-home--cam--image {
  $w: (
    xs: 250px,
    sm: 300px,
    lg: 250px
  );
  @include expand-list($w,max-width);
  height: auto;
  margin-top: 1rem;
  @media (max-width: map-get($grid-breakpoints, md)) {
    margin-bottom: -2rem;
  }
}

.t-home--pseudotitle {
  z-index: 9;
  color: $gray-500;
  @media ( min-width: map-get($grid-breakpoints, md) ) {
    transform: translateY(-1rem);
    
  }
  @media ( max-width: map-get($grid-breakpoints, lg) ) {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}