.t--list {

}

.t-list__sequence {

  list-style-type: none;
  list-style-position: outside;
  counter-reset: sequence-counter;
  color: theme-color("secondary");

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  > li {
    width: 100%;
    counter-increment: sequence-counter;
    margin-bottom: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-wrap: nowrap;

    &::before {

      content: "0" counter(sequence-counter);
      font-weight: bold;
      font-size: 3rem;
      line-height: 0.8;

      color: theme-color("secondary");

      padding-right: 3rem;

      width: 4rem;
    }

    .t-list--wrap {
      display: block;
      width: calc(100% - 3rem);
    }

    strong {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1.4rem;

      display: block;
      margin-bottom: .5rem;

      color: $black;
    }

    a {
      color: theme-color("secondary");
      border-bottom: 2px solid theme-color("primary");
      &:hover {
        text-decoration: none;
        color: theme-color("primary");
      }
    }

    ul {

      margin: 0;
      padding: 0;
      list-style-type: disc;

      > li {
        color: theme-color( "secondary" );
        margin-left: 1rem;
        
      }

    }

  }

}


.t-list__dotted {

  list-style-type: none;
  list-style-position: outside;
  // counter-reset: sequence-counter;
  color: theme-color("secondary");

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  > li {
    width: 100%;
    // counter-increment: sequence-counter;
    margin-bottom: 1rem;
    margin-top: 1rem;


    display: flex;
    flex-wrap: nowrap;

    &::before {

      // content: "0" counter(sequence-counter);
      content: "●";
      font-weight: bold;
      font-size: 3rem;
      line-height: 0.4;

      color: theme-color("secondary");

      padding-right: 1rem;

      width: 3rem;
    }

    .t-list--wrap {
      display: block;
      width: calc(100% - 3rem);
    }

    strong {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1.4rem;

      display: block;
      margin-bottom: .5rem;

      color: $black;
    }

    a {
      color: theme-color("secondary");
      border-bottom: 2px solid theme-color("primary");
      &:hover {
        text-decoration: none;
        color: theme-color("primary");
      }
    }

    ul {

      margin: 0;
      padding: 0;
      list-style-type: disc;

      > li {
        color: theme-color( "secondary" );
        margin-left: 1rem;
        
      }

    }

  }

}

.t-list__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: 1rem 0px;
    border-top: 1px $gray-200 solid;
  }
}