<link href="{$basePath}/assets/app.css?v={$v}" type="text/css" rel="stylesheet">
<script src="{$basePath}/assets/front.js?v={$v}"></script>

{if $adminAssets}
        <script src="{$basePath}/assets/admin.js?v={$v}"></script>
{/if}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous">

<!-- Favicon & OS shortcut stuff -->
<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicon/apple-touch-icon.png?v={$v}">
<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon/favicon-32x32.png?v={$v}">
<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon/favicon-16x16.png?v={$v}">
<link rel="manifest" href="{$basePath}/favicon/site.webmanifest?v={$v}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Services -->
<meta name="google-site-verification" content="dVGfjnS8d55qtQnYy33uLKJQXOcLImCn8WEuL8XMWKM">

<!-- API -->
<script src="https://cdn.tiny.cloud/1/ab4kcykoyyr8owvzgydiitwp6e7xcd86qoqn2dddja2q785p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>