<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<title>{ifset $titleSeoPrefix}{$titleSeoPrefix|translate} {/ifset}{ifset $titleSeo}{$titleSeo|translate|stripHtml} | {elseifset $title}{if $title}{$title|translate|stripHtml} | {/if}{/ifset}LabIR Edu</title>
{ifset $description}<meta name="description" content="{$description|translate}">{/ifset}
{ifset $keywords}<meta name="keywords" content="{$keywords|translate}">{/ifset}
{ifset $author}<meta name="author" content="{$author|translate}">{/ifset}
{ifset $publisher}<meta name="publisher" content="{$publisher|translate}">{/ifset}

<!-- Open Graph -->
{ifset $titleOg}<meta property="og:title" content="{$titleOg|translate}">{elseifset $titleSeo}<meta property="og:title" content="{$titleSeo|translate}">{elseifset $title}{if $title}<meta property="og:title" content="{$title|translate}">{/if}{/ifset}
<meta property="og:type" content="article">
<meta property="og:site_name" content="LabIR Edu">
{ifset $descriptionOg}<meta property="og:description" content="{$descriptionOg|translate}">{elseifset $description}{if $description}<meta property="og:description" content="{$description|translate}">{/if}{/ifset}