{block content}

{foreach $contacts as $country}

  <section>

    <!-- <h2>{$country["name"]}</h2>-->

    
    {foreach $country['regions'] as $region }

        <!-- <h3 class="pt-5 text-center color-gray-dark">{$region["name"]}</h3>-->

        {foreach $region["cities"] as $city}

          <h4 class="pt-5 pb-3 text-center color-secondary">{$city["name"]}</h4>

          <div class="row justify-content-center">

          {foreach $city["people"] as $person}

            <article class="col-12 col-md-6 col-lg-4">

              <div class="bg-lightgray p-3">

                <h5>{$person["user_name"] }</h5>

                <hr>

                <p>{$person['about']}</p>

                <a href="mailto:{$person['email']}">{$person["email"]}</a>

                <hr>

                <div n:foreach="$person['institutions'] as $inst" class="">
                  {$inst["role"]} - {$inst["name"] }
                </div>

                <hr>

                <ul n:if="$person['subjects']->count() > 0" class="t-exp--tags">
                  <li n:foreach="$person['subjects'] as $subject" class="t-exp--tag__secondary t-exp--tag__small">
                    {$subject->name}
                  </li>
                </ul>

              </div>

            </article>

          {/foreach}

          </div>

        {/foreach}

    {/foreach}
    

  </section>

{/foreach}