{var $layoutColumn = false}

{block content}

  <div class="col-12 col-md-6 col-lg-3">
    <div class="p-3 mb-4 bg-lightgray">
      <h2 class="font-style__base-bold">Základní informace</h2>
      {control userFormSelf}
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="p-3 mb-4 bg-lightgray">
      <h2 class="font-style__base-bold">Role</h2>
      {control userFormRoles}
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="p-3 mb-4 bg-lightgray">
      <h2 class="font-style__base-bold">Zaměření</h2>
      {control userFormSubjects}
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="p-3 mb-4 bg-lightgray">
      <h2 class="font-style__base-bold">Heslo</h2>
      {control userFormPassword}
    </div>
  </div>

  <div class="col-12">
    {control listUserInstitutions}
    <div class="p-3 mb-4 bg-lightgray">
      {control userFormAddInstitutionRelationship}
    </div>
  </div>
  
{/block}