{block content}

  {if $dataCount > 0}
    {control listUserInstitutions }
  {/if}


  <div class="py-3">
    <a n:href=":Admin:User:settingsUserInstitutionAdd $userId" class="btn btn-secondary">{$addButtonText}</a>
  </div>

{/block}