{layout @email.latte}

{block content}
    <h1>{_actions.user_registration_self.mail.welcome}</h1>
    <p>{_actions.user_registration_self.mail.par_one}</p>
    <p>{_actions.user_registration_self.mail.par_two}</p>
    <div class="btn align-center">
      <a class="btn--item btn--item__primary" n:href="Front:Sign:registerConfirm $hash">
        {_actions.user_registration_self.mail.button, ['email' => $email]}
      </a>
    </div>
{/block}

{block footer}
  {_actions.user_registration_self.mail.log, ["time" => $time] }
{/block}