{layout @email.latte}

{block content}
    <h1>{_actions.user_password_recovery.mail.title, ["name" => $name]}</h1>

    <div class="btn align-center">
      <a class="btn--item btn--item__primary" n:href="Front:Sign:restore $hash">
        {_actions.user_password_recovery.mail.button}
      </a>
    </div>
    <p>{_actions.user_password_recovery.mail.to, [ "to" => $to ]}</p>
    <p>{_actions.user_password_recovery.mail.par_one} <a href="mailto:info@labir.cz">info@labir.cz</a>.</p>
{/block}
{block footer}
  {_actions.user_password_recovery.mail.from, ["from" => $from ]}
{/block}