{layout @email.latte}

{block content}
    <h1>{_actions.user_email_verification.mail.title}</h1>


    <p>{_actions.user_email_verification.mail.par_one, [ "email" => $email ]}</p>
    <p>{_actions.user_email_verification.mail.code}: <strong class="fs_h1">{$code}</strong></p>
    <div class="btn align-center">
      <a class="btn--item btn--item__primary" n:href="Front:Sign:verifyEmail $hash">
        {_actions.user_email_verification.mail.link }
      </a>
    </div>
{/block}