$widths: (
  xs: 350px,
  sm: 500px,
  mm: 500px,
  md: 700px,
  lg: 800px,
  xl: 1000px,
);

// Common attributes
.t-advent {

}

.t-advent--wrapper {
  background: #E8E8E8;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.t-desk {
  background-repeat: no-repeat;
  // border: 3px solid white;
  overflow: hidden;
  position: relative;

  > div {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: top .3s ease-in-out;

    &.t-desk--day {
      top: 0px;
      left: 0px;
    }

    &.t-desk--action {
      // top: $dh;
      left: 0px;
      background: rgba(0,0,0,.3);
    }

    > span,
    > small {
      display: inline-block;
    }

    > small {
      background: $white;
      padding: .3rem .5rem;
    }

    > span {
      font-size: 1.5rem;
      color: $white;
      font-weight: bold;
    }

  }

  &:hover {
    div.t-desk--action {
      top: 0px;
    }
  }
}

.t-desk__has-own-bg {
  background-size: cover;
  background-position: center center;
}

.t-desk.t-desk__inactive > div.t-desk--day span {
  color: $black;
}

// Responsive attributes

@each $bp, $w in $widths {

  @media ( min-width: map-get( $grid-breakpoints, $bp ) ) {

    .t-advent {
      
    }

    .t-advent--wrapper {
      width: $w;
    }

    // calculate desk dimensions
    $columns: (1,2,3, 4);
    $rows: (1,2,3,4,5,6);
    $dw: $w / 4;
    $dh: $dw;
    $h: $dh * 6;

    .t-desk {
      width: $w / 4;
      height: $w / 4;
    }

    .t-desk.t-desk__inactive {
      background-size: $w $h;
    }

    
    // Default background positioning 

    // Horizontal
    @each $col in $columns {

      .t-desk__x#{$col} {
        $pos: $w * ( ($col - 1) / 4 ) * -1;
        background-position-x: #{ $pos };
      }

    }

    // Vertical
    @each $row in $rows {
      
      .t-desk__y#{$row} {
        $pos: $h * ( ($row - 1) / 6 ) * -1;
        background-position-y: #{ $pos };
      }

    }

    

    // Inner content styling 
    .t-desk {
      
      > div {
        
        width: $dw;
        height: $dh;
        
        &.t-desk--action {
          top: $dh;
        }
        
      }

      &:hover {

        div.t-desk--day {
          top: -$dh;
        }

      }

    }

  }

}