$clips: (
    1: (
      in: "M 152.83599,19.525353 C 73.229614,46.673644 2.4683911,73.821938 29.003849,122.08559 c 26.535457,48.26364 8.845147,57.31305 56.019298,84.46135 47.174153,27.14833 150.367613,60.32954 165.109543,-6.03295 14.74191,-66.36249 76.65799,9.04944 61.91607,-48.26364 C 297.30684,94.937295 297.30684,13.492376 152.83599,19.525353 Z",
      out: "M 124.58145,8.4285431 C 19.216189,14.363631 24.45571,67.196383 29.003849,122.08559 c 6.927925,83.60964 -16.507641,85.75577 11.473612,99.26701 49.013342,23.66695 212.748539,32.85115 253.205629,2.71179 58.22893,-43.37886 52.5505,-41.81617 44.07996,-100.38547 C 321.00082,7.7770188 269.0523,2.3955661 124.58145,8.4285431 Z",
      path: "clip1"
    ),
    2: (
      in: "M 165.69313,46.66821 C 90.372471,-21.183499 29.937377,33.225358 42.575278,146.3713 c 9.151967,81.93672 -3.297711,73.74163 61.019302,63.74707 53.78274,-8.35758 71.83158,24.88609 138.68097,12.53848 38.31334,-7.07678 60.22942,-18.80771 45.4875,-76.12079 C 273.02113,89.223009 363.02113,35.635233 165.69313,46.66821 Z",
      out: "M 154.26456,25.239639 C -17.484672,12.38793 36.906202,81.253772 21.860992,100.65702 -15.967986,149.44364 47.398837,233.65441 112.166,240.11837 221.66303,251.0465 256.85473,219.29017 272.27555,214.7997 309.68325,203.90676 353.62717,140.09641 325.62019,87.964636 268.73541,-17.919848 183.02113,33.492376 154.26456,25.239639 Z",
      path: "clip2"
    ),
    3: (
      in: "M 99.978847,40.239639 C 79.658185,85.959358 126.36595,63.225358 85.43242,89.942733 16.391239,135.00601 35.706139,235.82721 100.02315,225.83265 c 53.78274,-8.35758 57.54586,11.31466 124.39525,-1.03295 38.31334,-7.07677 16.67414,-23.987 48.34465,-73.97792 C 297.30684,112.08015 297.30684,29.206662 99.978847,40.239639 Z",
      out: "M 200.69313,25.953924 C -8.9132432,0.24507252 91.906202,61.968057 21.860992,132.79988 c -43.408565,43.89604 41.700856,74.07063 98.876438,105.17563 67.35417,36.64242 71.1173,-59.39962 136.53812,-5.31866 30.02927,24.82408 41.42125,-39.02156 54.05892,-96.83507 C 345.87827,-22.205562 229.4497,34.206662 200.69313,25.953924 Z",
      path: "clip3"
    ),
    4: (
      in: "M 109.26456,26.66821 C 46.801043,27.38793 121.36595,62.511072 80.43242,89.228447 11.391239,134.29173 54.277567,234.39864 118.59458,224.40408 c 53.78274,-8.35758 21.83158,27.02895 88.68097,14.68134 38.31334,-7.07678 89.32427,-57.40785 69.77321,-113.26364 C 228.73541,-12.205562 108.73541,57.063805 109.26456,26.66821 Z",
      out: "M 186.40742,31.66821 C 139.65819,-35.469213 8.0007299,23.734484 21.860992,132.79988 c 14.359843,112.99656 38.843713,127.64206 133.876438,94.46135 72.3907,-25.27524 126.83158,35.60037 167.96669,3.96705 30.88505,-23.75093 14.13146,-42.49332 -12.36965,-95.4065 -8.31334,-16.59877 90.97237,-161.615118 -124.92705,-104.15357 z",
      path: "clip4"
    ),
    5: (
      in: "M 157.1217,49.525353 C -14.627529,36.673644 89.763345,83.396629 74.718135,102.79988 36.889157,151.5865 47.398837,233.65441 112.166,240.11837 221.66303,251.0465 221.14044,200.00446 236.56126,195.51399 273.96897,184.62105 317.1986,141.52499 289.19162,89.393207 232.30684,-16.491277 185.87827,57.77809 157.1217,49.525353 Z",
      out: "M 187.83599,16.66821 C 12.515328,-16.897785 10.857873,98.020198 18.289563,133.51416 41.632761,245.00193 94.990419,252.58479 125.73743,239.40408 c 70.47378,-30.21088 156.1173,14.17181 181.53812,-3.1758 32.18201,-21.96157 20.88967,-47.18922 15.4875,-106.12079 C 316.59255,62.794438 348.73541,9.9209474 187.83599,16.66821 Z",
      path: "clip5"
    )
  );


// The bubble list
.t-bubble-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// The bubble itself
.t-bubble {

  text-align: center;
  position: relative;
  width: 350px;
  display: block;

  @include gutter(gscope("base"),bottom);

  padding-left: 1rem;
  padding-right: 1rem;

  box-sizing: content-box;

}

.t-bubble__large {
  $sizes: (
    xs: 100%,
    md: 50%,
    lg: 30%, 
  );
  @include expand-list($sizes,width);
}

a.t-bubble {
  color: $black;
  &:hover,
  &:focus {
    text-decoration: none;

    span.btn {
      color: $white;
      background: theme-color("text");
    }

  }
}

.t-bubble--image {

  width: 100%;
  height: 250px;
  overflow: hidden;

  transition: clip-path .2s ease-in-out;

  img {
    width: 100%;
    height: auto;
  }

}

@each $scope, $paths in $clips {

  .t-bubble__in-#{$scope} {
    .t-bubble--image {
      clip-path: url( #{ "#" + map-get($paths,path) } );
      clip-path: path("#{map-get($paths,in)}");
    }
  }
  .t-bubble__out-#{$scope} {
    &:hover,
    &:focus {
      .t-bubble--image {
        clip-path: url( #{ "#" + map-get($paths,path) + "hover" } );
        clip-path: path("#{map-get($paths,out)}");
      }
    }
    
  }

}

.t-bubble--buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  .btn {
    margin-bottom: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}

.t-bubble--buttons__far {
  font-size: 1.5rem;
  a {
    color: theme-color("secondary");
    &:hover,
    &:focus {
      color: theme-color("primary");
    }
  }
}

.t-bubble--position {
  margin-bottom: 0px;
}


.t-bubble--quote {
  position: relative;
  background: $white;
  border-radius: 0px;
  margin-top: -30px;
  padding: 10px;
  margin-bottom: 10px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: $white;
    border-top: 0;
    border-left: 0;
    margin-left: -15px;
    margin-top: -30px;
  }
}

.t-bubble__white {
  background-color: $white;
  &:after {
    border-bottom-color: $white;
  }
}

.t-bubble__light {
  background-color: theme-color("light");
  &:after {
    border-bottom-color: theme-color("light");
  }
}

.t-bubble__primary {
  background-color: theme-color("primary");
  color: $white;
  &:after {
    border-bottom-color: theme-color("primary");
  }
}

.t-bubble__secondary {
  background-color: theme-color("secondary");
  color: $white;
  &:after {
    border-bottom-color: theme-color("secondary");
  }
}

.t-bubble__gray {
  background-color: $gray-300;
  // color: $white;
  &:after {
    border-bottom-color: $gray-300;
  }
}

.t-bubble--more {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .3s ease-in-out;

  &.t-bubble--more__expanded {
    max-height: 900px;
  }
}

.t-bubble--highlight {
  font-size: 1.2rem;
}

