.t-comment {
    background-color: $gray-100;
    @include gutter( gscope(base) );
    @include gutter( gscope(base), bottom, margin );
}

.t-comments--show-more { 
    cursor: pointer; 
  
    &:hover {
      text-decoration: underline;
    }
  }