.t-content--badge {
    padding: 0px 5px;
    color: white;
    background-color: theme-color("text");
    display: inline-block;
    margin-right: 3px;
}

.t-content--legend {
    font-size: small;
    > div {
        margin-bottom: 10px;
    }
}

.t-vhide {
    position: absolute;
    left: -5000px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: -1px;
}

.t-link__big {
    color: $black;
    text-decoration: underline;
}