.t-dash {

}

.t-dash--state--title {

}

.t-dash--state--alert {
  a {
    text-decoration: underline;
    font-weight: normal;
    &:hover,
    &:focus {
      color: theme-color( secondary );
    }
  }
}

.t-dash--state--further {
  color: $gray-500;
  font-size: .8rem;
  a {
    color: $gray-500;
    text-decoration: underline;
    &:hover,
    &focus {
      color: theme-color("secondary");
    }
  }
}
