/** Event list */

.t-e {

}

.t-e__list {

  > * {
    // background-color: theme-color( "ternary" );
    // height: 100%;
  }


  .t-e--item {

    @include gutter( gscope("base") );
    @include gutter( gscope("base"), bottom, margin );
    background-color: theme-color( "ternary" );
    height: 100%;
  
  }
  
  .t-e--link {
    color: $black;
    font-size: 1.2rem;
    border-bottom-style: solid;
    border-bottom-width: 2px; 
  }
  a.t-e--link {
    border-bottom-color: theme-color( "primary" );
    &:hover {
      text-decoration: none;
    }
  }
  
  span.t-e--link {
    border-bottom-color: $gray-300;
  }
  
  .t-e--heading {
    font-weight: bold;
  }
  
  .t-e--excerpt {
  
  }
  
  .t-e--date {
  
  }


}

.t-e__table {

  .t-e--item {

    border-top: 1px solid $gray-300;

    @include gutter( gscope("base"), bottom, margin );

    &:last-child {
      border-bottom: 1px solid $gray-300;
    }

    > div {
      padding: 7px 10px;
    }

  }

  .t-e--date {

  }

  .t-e--city {

  }

  .t-e--link {

    // font-weight: bold;

  }

  .t-e-subtitle {

  }

}

.t-ed {

}

.t-ed--dr {
  
  font-weight: bold;
  color: theme-color( "secondary" );
  margin-bottom: 15px;

}