.t-exp {

}


// Common items
.t-exp--tags {

    list-style-position: inside;

    margin: 0;
    padding: 0;
    
    &.t-exp--tags__center {
        text-align: center;
    }

    li {
        position: relative;
        display: inline-block;

        padding: .3rem .5rem .3rem 1.5rem;
        border-radius: 1.5rem 3px 3px 1.5rem;

        color: $white;
        background-color: $black;

        font-size: small;
        font-weight: bold;
        

        &::before {
            
            position: absolute;
            top: .6rem;
            left: .6rem;

            width: .5rem;
            height: .5rem;

            border-radius: 50%;

            background: $white;
            content: "";
            
        }

        /**
         * Sizing
         */
        &.t-exp--tag__small {

            padding: .1rem .3rem .1rem 1rem;
            border-radius: 1.5rem 5px 5px 1.5rem;
            margin-bottom: .2rem;

            &::before {

                top: .6rem;
                left: .5rem;

                width: .3rem;
                height: .3rem;

            }

        }

        &.t-exp--tag__large {

        }

        /**
         * Coloring
         */
         &.t-exp--tag__secondary {

            color: $white;
            background-color: theme-color("secondary");

            a {
                color: $white;
            }

        }

        &.t-exp--tag__gray {

            color: $gray-800;
            background-color: $gray-300;

            a {
                color: $gray-800;
            }

        }


    }

}

// Detail only
.t-exp__detail {

    .t-exp--tags {
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

}

// Blocks
.t-b--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
    }
}

.t-b {
    position: relative;
    box-sizing: border-box;
}

.t-b--wrap {
    padding: .5rem;
}

.t-b__image {

}

.t-b__video {

    video {
        background: $gray-300;
        border: 1rem solid $gray-300;
    }

}

.t-b__text {

}

$sizes: (
    0: (
        xs: 100%,
        lg: percentage(2/3),
    ),
    1: (
        xs: 100%,
    ),
    2: (
        xs: 100%,
        lg: 50%,
    ),
    3: (
        xs: 50%,
        lg: percentage(1/3),
    ),
    4: (
        xs: 50%,
        md: 25%
    ),
    5: (
        xs: 50%,
        md: 25%,
        lg: percentage(1/5)
    )
);

@each $scope, $props in $sizes {
    .t-b__size-#{$scope} {
    @each $bp, $s in $props  {
        @media ( min-width: map-get($grid-breakpoints, $bp) ){
            width: $s;
        }
    }
    }
}


// Teaserts list
.t-exp--list__teasers {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}

// Teaser commons
.t-exp__teaser {

    padding-bottom: 1rem;

    box-sizing: content-box;
    display: block;

    color: $black; 

    // Sizing
    $widths: (
        // xs: 100%,
        xs: 100%,
        md: 50%,
        lg: percentage( 1/3 ),
        xl: percentage( 1/4 ),
    );
    @each $bp, $w in $widths {
        @media ( min-width: map-get($grid-breakpoints, $bp) ) {
            width: $w;
            flex-basis: $w;
        }
    }

    // Hover commons
    &:hover {
        text-decoration: none;

        .t-exp--title {
            // color: theme-color("secondary");
            color: $black;
        }

        .t-exp--wrap {
            background: $gray-200;
        }
        .t-exp--button {
            background: $black;
            color: $white;
        }
    }

    .t-exp--image {
        background-size: cover;
        background-position: center center;
    }

    .t-exp--wrap {
        display: flex;
        background: $gray-100;
        transition: background-color .2s ease-in-out;
    }

    .t-exp--desc {
        color: $black;
    }

    .t-exp--title {
        transition: color .2s ease-in-out;
        font-size: 1.3rem;
        line-height: 1.4rem;
    }

    .t-exp--button {
        
        display: inline-block;
        
        margin-top: .5rem;
        padding: .3rem .5rem;

        border: 1px solid $black;
        
        font-size: small;
        font-weight: bold;

        transition: all .2s ease-in-out;
        
    }

}


// Teaser overrides on small devices
@media ( max-width: map-get($grid-breakpoints, md) ) {

    .t-exp__teaser {

        margin-left: 1rem;
        margin-right: 1rem;
        
        .t-exp--image {
            $w: (
                xs: 125px !important,
                sm: 175px !important, 
            );
            @include expand-list( $w, min-width );
            // @include expand-list( $w, min-height );
            min-height: 125px;
        }
        .t-exp--button {
            display: none;
        }

        .t-exp--content {
            padding: 1rem;
        }

    }

}

// Teaser overrides on large devices
@media ( min-width: map-get($grid-breakpoints, md) ) {
    .t-exp__teaser {

        

        .t-exp--wrap {
            height: 100%;
        
            margin-left: .5rem;
            margin-right: .5rem;
            
            flex-direction: column;
        }

        .t-exp--image {
            min-height: 200px;
        }

        .t-exp--content {
            padding: 1rem;
            padding-bottom: 60px;
            position: relative;
            flex-grow: 1;
    
            .t-exp--link {
                position: absolute;
                bottom: 1rem;
            }

        }

    }

}

.t-exp--file {
    &:hover,
    &:focus {
        .t-exp--file__link {
            span,
            a {
                // color: $black;
            }
        }
        .t-exp--file__description {
            // color: $gray-800;
        }
    }
}

.t-exp--file__mainlink {
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        .t-exp--file__link {
            span,
            a {
                color: $black;
            }
        }
        .t-exp--file__description {
            color: $gray-800;
        }
    }

}

.t-exp--file__preview {}

.t-exp--file__name {
    color: $black;
    font-size: 1rem;
    padding-top: .5rem;
}

.t-exp--file__description {
    color: $gray-500;
    transition: color .1s ease-in-out;
}

.t-exp--file__link {
    span,
    a {
        font-size: small;
        text-decoration: underline;
        color: theme-color( "secondary" );
        transition: color .1s ease-in-out;
        &:hover,
        &:focus{
            color: $black;
        }
    }
    
}

.t-experiment--teaser {

}

.t-experiment--teaser--link {
    color: $black;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.t-experiment--teaser--image {
    background-size: cover;
    background-position: center center;
    $h: (
        xs: 100px,
        sm: 250px,
        md: 200px,
        lg: 250px
    );
    @include expand-list( $h, "min-height" );
}

.t-experiment--teaser--title {
    @include font-style("h4");
    color: $black;
    padding-top: .5rem;
}

.t-experiment--teaser--excerpt {

}

.t-experiment--teaser--link {

}

.t-exp--filter {

}

.t-exp--filter--title {
    font-size: 1rem;
    color: $gray-500;
}

.t-exp--filter--links {
    padding-bottom: 1rem;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.t-exp--filter--link {
    color: $gray-500;
    &:hover,
    &:focus {
        color: $gray-900;
    }
}

.t-exp--filter--link__active {
    color: $gray-900;
}

