.t-footer {

  min-height: 400px;
  width: 100%;

  @include gutter( gscope(base) );

  color: $body-bg;

  background-color: theme-color("secondary");
  background-image: url("../images/footer/decor.png");
  background-position: right bottom;
  background-repeat: no-repeat;


  h1,h2,h3,h4,h5,h6 {
    @include gutter( gscope(half), top );
  }
  
}


.t-logo--list {
  padding-top: .5rem;
  
  .t-logo--item {

    display: inline-block;
    padding-right: .5rem;
    padding-bottom: 1rem;

    img {
      display: block;
      height: 65px;
      width: auto;
    }

  }

}

.t-footer--smenu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    &:link,
    &:visited {
      color: white;
    }
    &:hover,
    &:focus {
      opacity: .7;
    }
  }

}