.t-hubspot {
    text-align: center;

    h2 {
        @include gutter( gscope(base), bottom );
    }

    .t-hubspot--notice {
        font-size: small;
        color: $gray-500;
    }

    .form-inline {
        align-items: flex-start;
        justify-content: center;

        .form-control {
            border-color: $gray-300;
            background-color: $gray-300;
            border-right-color: $white !important;
            border-right-width: 2px;
            // border-bottom-color: $white !important;
            margin-bottom: 2px;
            &:focus
            &:hover {
                border-color: theme-color("ternary");
                background-color: theme-color("ternary");
                outline: 0;
                box-shadow: 0;
            }
        }


        @media ( max-width: 992px ) {
            input[type=submit] {
                @include gutter( gscope(base), top, margin );
            }
        }
    
        @media ( max-width: 766px ) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .form-control {
                width: 100%;
            }
        }

    }

    

}