.t-material--voting { 

    strong { margin-right: 5px; } 
  
    a { 
      float: left;
      margin: 0 1px;
      color:#9E9E9E;
      cursor:pointer; 
    }
  
    span.checked, 
    span.rated { 
      color: theme-color("primary"); 
    }
  }