.t-nav {

  // background: yellow;
  z-index: 999;

}

.t-nav--logo {

  display: flex;
  align-items: center;
  height: 100%;
  img {
    max-width: 150px;
    height: auto;
  }
}

.t-nav--blocker {
  @each $bp, $vals in $t-nav-heights {
    @media ( min-width: map-get($grid-breakpoints,$bp) ) {
      height: map-get($vals,min);
    }
  }
}

.t__logged-in {

  .t-nav--blocker {
    @each $bp, $vals in $t-nav-heights {
      @media ( min-width: map-get($grid-breakpoints,$bp) ) {
        height: calc( #{map-get($vals,min)} + 5rem );
      }
    }
  }

}

.t-nav--container {
}



.t-nav--part {

}

.t-nav--part__left {

}

.t-nav--part__right {

}

.t-nav--menu {

  li {
    .expander {
      &::after {
        content: "↓";
      }
    }
    &.expanded {
      .expander {
        &::after {
          content: "↑";
        }
      }
    }
  }

}

.t-nav--menu-item {

}

.t-nav--menu--item__haschildren {

}

.t-nav--menu--item__dropleft {

}

.t-nav--menu--item__dropright {

}

.t-nav--trigger {

}

// Sbalené

@media ( max-width: map-get($grid-breakpoints, $t-nav-breakpoint ) ) {

  .t-nav {
    position: fixed;
    width: 100%;
    transition: background-color .3s ease-in-out;
    background: $white;
  }

  .t-nav__mobiexpand {
    background-color: theme-color("ternary");

    .t-nav--part {
      background-color: theme-color("ternary");
    }

  }

  .t-nav--container {
    
  }
  
  .t-nav--part {
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;
  }
  
  .t-nav--part__left {

    @each $bp, $vals in $t-nav-heights {
      @media ( min-width: map-get($grid-breakpoints,$bp) ) {
        height: map-get($vals,min);
      }
    }

    width: 100%;

    background-color: $white;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include make-container();
    @include make-container-max-widths();
  
  }
  
  .t-nav--part__right {

    background: $white;
    position:  absolute;
    width: 100%;

    @each $bp, $vals in $t-nav-heights {
      @media ( min-width: map-get($grid-breakpoints,$bp) ) {
        height: calc( 100vh - #{map-get($vals,min)} );
      }
    }

    &:not(.t-nav--part__right__expanded) {
      transform: translateY(100vh);
    }
  
  }
  
  .t-nav--menu > ul {
    @include make-container();
    @include make-container-max-widths();

    // list-style-type: none;

    &,
    ul {
      list-style-type: none;
      
      li {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &:not(:last-child) {
          border-bottom: 1px solid $black;
        }

        > * {
          box-sizing: content-box;
          padding: 10px 0px;
        }
        a {
          flex-grow: 1;
          font-weight: bold;
          color: $black;
          &:hover {
            color: theme-color("primary");
          }
        }
        .expander {
          // background: red;
          min-width: 40px;
          text-align: right;
          cursor: pointer;
          &:hover {
            color: theme-color("primary");
          }
          
        }
      }
    }
    
    > li {

      

      ul {
        width: 100%;
        overflow: hidden;
        max-height: 0;
        margin: 0;
        padding: 0;
        transition: max-height .2s ease-in-out;

        li {
          a {
            font-weight: normal;
          }
        }
      }
      &.expanded {
        ul { 
          max-height: 999px; 
          border-top: 1px solid $black;
        }
      }
    }

    a {

    }
  }
  
  .t-nav--menu-item {
  
  }
  
  .t-nav--menu--item__haschildren {
  
  }
  
  .t-nav--menu--item__dropleft {
  
  }
  
  .t-nav--menu--item__dropright {
  
  }
  
  .t-nav--trigger {
  
  }

}

// Rozbalené menu

@media ( min-width: map-get($grid-breakpoints, $t-nav-breakpoint ) ) {

  .t-nav {
    position: fixed;
    width: 100%;
    background: $white;
  }

  .t-nav--container {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    justify-content: space-between;

    @each $bp, $vals in $t-nav-heights {
      @media ( min-width: map-get($grid-breakpoints,$bp) ) {
        height: map-get($vals,min);
      }
    }
  }
  
  .t-nav--part {
  
  }
  
  .t-nav--part__left {
  
  }
  
  .t-nav--part__right {
  
  }
  
  .t-nav--menu > ul {

    &,
    ul {
      list-style-type: none;
      margin:0;
      padding:0;
    }

    display: flex;
    justify-content: flex-end;

    a,
    .expander {
      // background: green;
      display: inline-block;
      // height: 100%;
      vertical-align: center;
      @each $bp, $vals in $t-nav-heights {
        @media ( min-width: map-get($grid-breakpoints,$bp) ) {
          padding:  calc( #{ map-get($vals,min) /2 } - .75rem ) .5rem;
        }
      }

    }

    .expander {
      padding-left: 0px;
    }
    > a {
      padding-right: 0;
    }
  

  li {
    &:hover {
      background-color: theme-color("ternary");
    }

    a {
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
  }


  li {
    position: relative;
    ul {
      overflow: hidden;
      max-height: 0px;
      background-color: theme-color("ternary");
      transition: max-height .2s ease-in-out;
      position: absolute;
      min-width: 200px;

      a,
      .expander {
        padding: 10px !important;
        width: 100%;
        display: inline-block;
      }
    }
    &:hover,
    &.expanded {
      ul {
        max-height: 300px;
      }
    }
  }
}
  
  .t-nav--menu-item {
  
  }
  
  .t-nav--menu--item__haschildren {
  
  }
  
  .t-nav--menu--item__dropleft {
  
  }
  
  .t-nav--menu--item__dropright {
  
  }
  
  .t-nav--trigger {
    display: none !important;
  }

}

// Strukturovaná navigace pro procházení návodů
.t-nav__book {
  
  list-style-type: circle;

  margin: 0;
  padding: 0 0 0 1rem;

  li {
    margin: 0;
    padding: .5rem 0 0 0;
  }

  a {

    transition: color .2s ease-in-out;

    &:link,
    &:visited {
      color: theme-color("secondary");
    }
    &:hover,
    &:focus {
      color: theme-color("primary");
      text-decoration: none;
    }
  }

}