.t-reference {

    @include gutter( gscope(base), bottom );

}

.t-reference--header {
    
}

.t-reference--image {
    border-radius: 50%;
}

.t-reference--heading {
    // text-align: center;
    @include font-style("person-name");
}

.t-reference--functions {
    color: theme-color("secondary");
    font-size: small;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 7px;
    }
}

.t-reference--statement {
    background-color: $gray-300;
    @include gutter( gscope(base), all );
    position: relative;
    @media (min-width: map-get($grid-breakpoints,md)) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 15%;
            width: 0;
            height: 0;
            border: 29px solid transparent;
            border-bottom-color: $gray-300;
            border-top: 0;
            border-left: 0;
            margin-left: -14.5px;
            margin-top: -29px;
        }
    }

    p:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}