.t-section {
  
  > .row > div {
    @include gutter( gscope(base), vertical );
  }

}

.t-section__spaced {
  @include gutter( gscope(double), vertical );
}

.t-section__negative-top {
  @media (min-width: map-get($grid-breakpoints,md) ) {
    margin-top: -50px;
  }
  
  z-index: 4;
}

.t-section--title {
  @include gutter( gscope(double), vertical );
}

.t-section__heading {

  @include gutter( gscope(double), vertical );
  text-align: center;

  .t-section--page-name {
    
    @include font-style(page-name);
    text-align: center;
    position: relative;
    margin-bottom: 0px;

    &.t-section--page-name__underline {
      margin-bottom: 25px;
      &::after {
        position: absolute;
        left: calc(50% - 50px);
        bottom: -20px;
        width: 100px;
        height: 5px;
        background: theme-color("secondary");
        content: "";
      }
    }

    

  }
  
}

.t-section--prefix,
.t-section--suffix {
    color: theme-color("secondary");
    font-weight: bold;
}

.t-section--prefix {
  @include gutter( gscope(half), bottom );
}

.t-section--suffix {
  @include gutter( gscope(half), top );
}