{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{* The folllowing variables can be set here or in the presenter. *}
{var $title = "O nás"}


{* Display properties - layout parts and widths *}
{var $hubspot = true}

{* Base metadata *}
{var $description = "Naším cílem je dostat do škol a vzdělávacích center netradiční pomůcku, se kterou mohou studenti kreativně pracovat a zábavně objevovat okem neviditelné rozměry školních předmětů."}



{block content}

  {control about}

  <section class="container t-section t-section__spaced">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2>NTC ZČU v Plzni</h2>
        <p>Nápad se zrodil ve výzkumném centru Nové technologie (NTC) Západočeské univerzity v Plzni, kde jsme díky více než 20 letým zkušenostem v oblasti infračerveného záření a termografie vyvinuli termokameru speciálně pro školy.</p>
        <img src="{$basePath}/static-content/logos/logo_NTC_cz.png">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2>Naše poslání</h2>
        <p>Chceme podpořit učitele a lektory, kteří v dětech podněcují zájem o studium přírodovědných předmětů a nadšení pro vědu a techniku. Zapojením inovativních technologií můžeme studentům poskytovat zábavné a zároveň smysluplné vyučování. </p>
        <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a n:href="Static:cileProjektu" class="btn btn-outline-text">Cíle projektu</a>
          <a n:href="Static:activities" class="btn btn-outline-text">Aktivity projektu</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2>Dosavadní výsledky</h2>
        <p><strong>84 pedagogů</strong><br>prošlo naším workshopem k využití termokamery</p>
        <p><strong>722 studentů</strong><br>
        pracovalo s naší termokamerou</p>
        <p><strong>46 kamer</strong><br>
        jsme zatím vyrobili</p>
      </div>
    </div>
  </section>

{/block}