{var $title = "Aktivity projektu"}

{* Display properties - titles *}
{var $titleSuffix = true}

{* Display properties - layout parts and widths *}
{var $hubspot = true}
{var $layoutContainer = "container"}
{var $layoutRow = "row justify-content-center"}
{var $layoutColumn = "col-12"}


{* Base metadata *}
{var $description = "Projekt má ambice usnadnit přístup k vytvořeným pomůckám širokému spektru vzdělávacích institucí a rozšířit svou působnost z Plzeňského kraje do celé České republiky."}

{block content}

            <div class="card mb-4">
                {var $progress = 100}
                <div class="card-header" id="headingKA1" data-toggle="collapse" data-target="#collapseKA1" aria-expanded="true" aria-controls="collapseKA1">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 1. Moderní výukové vybavení pro školy
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA1" aria-labelledby="headingKA1">
                    <p>Aktivita vedoucí k vytvoření výukové sady zaměřené na uplatnění termovizního měření. Sada bude využitelná pro podporu výuky na středních, popř. i základních školách. Sada umožní práci studentů v malých skupinách.</p>
                    <p>V rámci projektu vznikne několik prototypů výukové sady a ty budou využity během pilotního ověření. Výroba výukových sad by poté měla být financována z neveřejných zdrojů.</p>
                    <hr/>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-success"><i class="far fa-check-circle"></i></span> Vytvoření prototypu výukové pomůcky (termovizní kamery)</li>
                        <li><span class="fa-li text-success"><i class="far fa-check-circle"></i></span> Výroba 10ks termovizních kamer (1 sada)</li>
                    </ul>
                    <h5 class="card-title">Nadřazené strategie</h5>
                    <ul>
                        <li>Naplňuje specifický cíl 1.3 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></li>
                        <li>Naplňuje specifický cíl Polytechnické vzdělávání v <a href="https://www.vlada.cz/assets/media-centrum/aktualne/III_Inovacni-strategie-CR_Country-for-Future_2019-01-29_cistopis_white.pdf">Inovační strategii České republiky 2019 - 2030</a></li>
                    </ul>
                    <h5 class="card-title">Stav aktivity</h5>
                    <div class="progress mb-4" style="height: 25px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info} font-weight-bold" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">Dokončeno (leden 2020)</div>
                    </div>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li>Vytvořen návrh výukové pomůcky
                                    <ul>
                                        <li>výkresová dokumentace</li>
                                        <li>návrh elektronické části</li>
                                    </ul>
                                </li>
                                <li>Optimalizace 3D tisku</li>
                                <li>Sestaveny prototypy</li>
                                <li>Výroba 10ks termovizních kamer</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/termovize-grey.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/termovize-black.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/prototypy-1.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/elektronika-v1.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/elektronika-v2.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/kompletace.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/termovize-carmine.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka1/termokamery-set.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka1">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                {var $progress = 25}
                <div class="card-header" id="headingKA2" data-toggle="collapse" data-target="#collapseKA2" aria-expanded="true" aria-controls="collapseKA2">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 2. Interaktivní výukové moduly
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA2" aria-labelledby="headingKA2">
                    <p>V rámci této aktivity budou připraveny moduly, pomocí kterých bude možné prezentovat základní vlastnosti a přínosy termovizního měření. Jednotlivé moduly budou obsahovat krátkou teoretickou část. Klíčová bude praktická část. Všechny moduly budou interaktivní, tzn. že budou vyžadovat aktivní zapojení cílové skupiny.</p>
                    <p>Modul bude obsahovat pomůcky, pracovní listy pro studenty, metodické listy pro učitele, videa a testy.</p>
                    <p>Hotové moduly bude možné využít během výuky, exkurzí na pracovišti žadatele, ale i na popularizačních akcích typu Dny vědy a techniky, Posviť si na budoucnost, atd.</p>
                    <hr/>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-success"><i class="far fa-check-circle"></i></span> Vytvořit osnovu výukového modulu</li>
                        <li><span class="fa-li text-info"><i class="far fa-play-circle"></i></span> Vytvořit 4 výukové moduly</li>
                    </ul>
                    <h5 class="card-title">Nadřazené strategie</h5>
                    <ul>
                        <li>Naplňuje specifický cíl 1.3 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></li>
                    </ul>
                    <h5 class="card-title">Stav aktivity</h5>
                    <div class="progress mb-4" style="height: 25px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info} font-weight-bold" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">Probíhá</div>
                    </div>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li>Vytvořena kostra výukového modulu</li>
                                <li>Vytvořen ukázkový modul "Vedení tepla"</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka2/modul-vedeni_tepla.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka2">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                {var $progress = 70}
                <div class="card-header" id="headingKA3" data-toggle="collapse" data-target="#collapseKA3" aria-expanded="true" aria-controls="collapseKA3">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 3. Kurzy pro učitele
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA3" aria-labelledby="headingKA3">
                    <p>Základní kurz pro učitele, po jehož absolvování je pedagog schopen představit téma v hodině včetně demonstračních ukázek s termokamerou. Součástí kurzu bude zpracovaný manuál k termokameře, studijní materiály problematiky, výuková videa.</p>
                    <hr/>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-success"><i class="far fa-check-circle"></i></span> Vytvořit kurz pro učitele</li>
                        <li><span class="fa-li text-info"><i class="far fa-play-circle"></i></span> Vytvořit výukové materiály</li>
                    </ul>
                    <h5 class="card-title">Nadřazené strategie</h5>
                    <ul>
                        <li>Naplňuje specifický cíl 1.4 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></li>
                        <li>Naplňuje specifický cíl Polytechnické vzdělávání v <a href="https://www.vlada.cz/assets/media-centrum/aktualne/III_Inovacni-strategie-CR_Country-for-Future_2019-01-29_cistopis_white.pdf">Inovační strategii České republiky 2019 - 2030</a></li>
                    </ul>
                    <h5 class="card-title">Stav aktivity</h5>
                    <div class="progress mb-4" style="height: 25px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info} font-weight-bold" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">Probíhá</div>
                    </div>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                <li>Osnova školení</li>
                                <li>Prezentace školení</li>
                                <li>Návod na použití termovizní kamery</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                {*
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka3/termovize-grey.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka3">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                *}
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
                            
            <div class="card mb-4">
                {var $progress = 10}
                <div class="card-header" id="headingKA4" data-toggle="collapse" data-target="#collapseKA4" aria-expanded="true" aria-controls="collapseKA4">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 4. Demonstrační pokusy představující možnosti termovizního měření
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA4" aria-labelledby="headingKA4">
                    <p>Cílem aktivity je seznámit učitele s možnostmi termovizního měření a jeho uplatnění v širokém spektru předmětů.</p>
                    <p>Prvotní plán počítá s vytvořením 50 pokusů z minimálně 4 předmětů dle RVP.</p>
                    <hr/>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-info"><i class="far fa-play-circle"></i></span> Vytvořit 50 demonstračních pokusů z minimálně 4 předmětů dle RVP</li>
                    </ul>
                    <h5 class="card-title">Nadřazené strategie</h5>
                    <ul>
                        <li>Naplňuje specifický cíl 1.3 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></li>
                    </ul>
                    <h5 class="card-title">Stav aktivity</h5>
                    <div class="progress mb-4" style="height: 25px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info} font-weight-bold" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">Probíhá</div>
                    </div>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                {*<li>xxx</li>*}
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                {*
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka4/xxx.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka4">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                *}
                            </div>
                        </div>
                    </div>
                </div>
            </div>               

            <div class="card mb-4">
                {var $progress = 5}
                <div class="card-header" id="headingKA5" data-toggle="collapse" data-target="#collapseKA5" aria-expanded="true" aria-controls="collapseKA5">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 5. Distribuce a servis
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA5" aria-labelledby="headingKA5">
                    <p>Zajištění distribuce výsledků projektu do škol. Servis a opravy výukových sad. Další aktivity k zajištění kvality výstupů projektu.</p>
                    <p>V plánu je vytvoření disribučních center pro jednotlivé kraje. Výukové vybavení by se na jednotlivé školy zapůjčovalo dle požadavků na nezbytnou dobu. Cílem je usnadnit přístup k vytvořeným pomůckám širokému spektru škol a učitelů při minimalizaci pořizovacích nákladů. Zároveň je možné výukové sady pravidelně servisovat a vylepšovat.</p>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-info"><i class="far fa-play-circle"></i></span> Vytvořit fungující distribuční centrum v plzeňském kraji</li>
                        <li><span class="fa-li text-info"><i class="far fa-circle"></i></span> Vytvořit fungující distribuční centrum v dalších 4 krajích</li>
                    </ul>
                    <hr/>
                    <p>Naplňuje specifický cíl 1.2 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></p>
                    <p>Naplňuje specifický cíl Polytechnické vzdělávání v <a href="https://www.vlada.cz/assets/media-centrum/aktualne/III_Inovacni-strategie-CR_Country-for-Future_2019-01-29_cistopis_white.pdf">Inovační strategii České republiky 2019 - 2030</a></p>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                {*<li>xxx</li>*}
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                {*
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka5/xxx.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka5">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                *}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="card mb-4">
                {var $progress = 0}
                <div class="card-header" id="headingKA6" data-toggle="collapse" data-target="#collapseKA6" aria-expanded="true" aria-controls="collapseKA6">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 6. Práce s nadanými studenty
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA6" aria-labelledby="headingKA6">
                    <p>Nadané studenty se zájmem o danou problematiku lze zapojit do projektu jako školitele.</p>
                    <p>Na základě doporučení pedagogů lze pravidelně pracovat s nadanými studenty v různých formách. Jednou z forem mohou být pravidelné tematicky zaměřené bloky s interaktivní ukázkou technologie či měření. Aktivita může využít modulů vytvořených v rámci aktivity 2. Dále se může jednat o studentské projekty, pro které bude poskytnuto zázemí výzkumného centra včetně konzultací s výzkumnými pracovníky.</p>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-info"><i class="far fa-circle"></i></span> Vytipování nadaných studentů</li>
                        <li><span class="fa-li text-info"><i class="far fa-circle"></i></span> Zapojení studentů do aktivit projektu</li>
                    </ul>
                    <hr/>
                    <p>Naplňuje specifický cíl 1.3 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></p>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                {*<li>xxx</li>*}
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                {*
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka6/xxx.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka6">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                *}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <!--

            <div class="card mb-4">
                {var $progress = 40}
                <div class="card-header" id="headingKA7" data-toggle="collapse" data-target="#collapseKA7" aria-expanded="true" aria-controls="collapseKA7">
                    <i class="fas fa-chevron-down fa-fw mr-2"></i> 7. Šíření výsledků
                    <div class="progress w-25 float-right" style="height: 24px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info}" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">{$progress}%</div>
                    </div>
                </div>
                <div class="card-body collapse" id="collapseKA7" aria-labelledby="headingKA7">
                    <p>Aktivity směřující k šíření výstupů předchozích aktivit směrem k cílové skupině. Cílem je seznámit učitele s možnostmi, které jim projekt nabízí. Dále se jedná o hledání partnerů pro zajištění udržitelnosti aktivit.</p>
                    <p>Součástí aktivity je také aktivní účast na popularizačních akcích.</p>
                    <p>Aktivita by také měla zajistit získávání zpětné vazby od cílové skupiny a přenos poznatků a zkušeností.</p>
                    <h5 class="card-title">Cíle</h5>
                    <ul class="fa-ul">
                        <li><span class="fa-li text-success"><i class="far fa-check-circle"></i></span> Webový portál s možností registrace</li>
                        <li><span class="fa-li text-info"><i class="far fa-play-circle"></i></span> Účast na popularizačních akcích</li>
                    </ul>
                    <hr/>
                    <h5 class="card-title">Nadřazené strategie</h5>
                    <ul>
                        <li>Naplňuje specifický cíl 1.3 <a href="http://www.plzensky-kraj.cz/cs/system/files/users/u1004293/ris3-pk2018.pdf">Regionální inovační strategie Plzeňského kraje 2018 - 2019</a></li>
                    </ul>
                    <h5 class="card-title">Stav aktivity</h5>
                    <div class="progress mb-4" style="height: 25px;">
                        <div class="progress-bar bg-{$progress == 0 ? dark : $progress == 100 ? success : info} font-weight-bold" role="progressbar" style="width: {$progress}%;" aria-valuenow="{$progress}" aria-valuemin="0" aria-valuemax="100">Probíhá</div>
                    </div>
                    <h5 class="card-title">Výstupy</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <ul>
                                {*<li>xxx</li>*}
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                {*
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                                    {capture $path}{$basePath}/static-content/activities/ka7/xxx.jpg{/capture}
                                    <a href="{$path}" data-toggle="lightbox" data-gallery="ka7">
                                        <img src="{$path}" class="img-thumbnail" />
                                    </a>
                                </div>
                                *}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            -->

<section id="look-for" class="">
        <div class="container alert alert-info">
            <h2>Hledáme partnery pro realizaci jednotlivých aktivit a možnosti financování.</h2>
            <p>Pokud byste měli zájem se na realizaci projektu podílet, <a href="mailto:edu@labir.cz">kontaktujte nás</a>!</p>
            <a href="mailto:edu@labir.cz" class="btn btn-outline-text">Mám zájem</a>
        </div>
</section>

{/block}