{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "Termokamera"}
{var $titleSuffix = true}

{var $description = "Termokamera s jednoduchým ovládáním navržená pro školní děti. Technické parametry a návod k obsluze."}
{var $keywords = "TIMI Edu, termokamera, specifikace, návod ke stažení"}

{block content}

  <!-- Karel -->
  <section class="t-karel t-karel__collapse__md t-karel__in-3 t-karel__ltr t-karel__textfirst">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <h1 class="font-style__page-name">Termokamera</h1>
        <div class="btn-group" role="group" aria-label="Jak získat LabIR EduKit">
          <a href="#popis" class="btn btn-outline-text">Popis</a>
          <a href="#parametry" class="btn btn-outline-text">Parametry</a>
          <a n:href=":Front:Documentation:default" class="btn btn-outline-text">Návody</a>
        </div>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img class="lazy" data-src="{$baseUrl}/static-content/camera/horizontal-camera-lab.jpg">
      </div>
    </div>
  </section>

  <section id="popis" class="t-section t-section__spaced">

    <div class="t-bubble-list">

      <!-- Bubble -->

      <div class="t-bubble t-bubble__in-2" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$baseUrl}/static-content/illustrations-children/bubble-grass-children.jpg">
        </figure>
        <h3>Navržená speciálně pro&nbsp;vzdělávání</h3>
        <p>Design i provedení kamery odpovídají potřebám a podmínkám výuky.</p>
      </div>

      <div class="t-bubble t-bubble__in-1" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$baseUrl}/static-content/illustrations-children/bubble-vlada.jpg">
        </figure>
        <h3>Vyrobená v ČR</h3>
        <p>Návrh i samotnou výrobu provedli pracovních NTC s využitím více než 20 let zkušeností na poli termografie.</p>
      </div>

      <a class="t-bubble t-bubble__in-4" data-aos="fade-up" n:href=":Front:Documentation:default">
        <figure class="t-bubble--image">
          <img src="{$baseUrl}/static-content/illustrations-children/bubble-child-shoulder-view.jpg">
        </figure>
        <h3>Intuitivní ovládání a jednoduchá údržba</h3>
        <p>Kamera je robustní a velký displej umožňuje snadné ovládání.</p>
        <div class="t-bubble--buttons">
          <span class="btn btn-outline-text">Návody</span>
        </div>
      </a>

    </div>
  </section>



  <section id="parametry" class="container t-section">
    <div class="row">

      <div class="col-sm-12" >
        <h2 class="text-center mb-5" data-aos="fade-up">Parametry</h2>

        <dl class="row">
          <div class="col-sm-12 col-md-4" data-aos="fade-up">
            <dl>
              <dt>Rozsah pracovních teplot</dt>
              <dd>-10 až 50 °C <small>při provozu</small><br>0 až 40 °C <small>při nabíjení</small></dd>
              <dt>Maximální vlhkost vzduchu</dt>
              <dd>85%</dd> 
              <dt>Měřící vzdálenost</dt>
              <dd>od 5 cm</dd>
            </dl>
          </div>
          <div class="col-sm-12 col-md-4" data-aos="fade-up">
            <dl>
              <dt>Rozměry kamery</dt>
              <dd>330 x 120 x 100 mm</dd>
              <dt>Baterie</dt>
              <dd>Lithium-Ion baterie (3,65 V, 5500 mAh)</dd>
            </dl>
          </div>
          <div class="col-sm-12 col-md-4" data-aos="fade-up">
            <dl>
              <dt>Hmotnost</dt>
              <dd>999g</dd>
              <dt>Výdrž baterie</dt>
              <dd>> 5 hodin</dd>
              <!--
              <dt>Výrobce</dt>
              <dd>TIMI CREATION s.r.o.,<br>Morseova 1126/5, Skvrňany,<br>301 00 Plzeň, Česká republika<br>www.timic.cz</dd>
              -->
            </dl>
          </div>
        </dl>

      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up">
        <img class="lazy" data-src="{$baseUrl}/static-content/camera/kamera-popisky-back.png">
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up">
        <img class="lazy" data-src="{$baseUrl}/static-content/camera/kamera-popisky-front.png">
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <div class="t-content--legend">
          <div><span class="t-content--badge">1</span> Zapínání</div>
          <div><span class="t-content--badge">2</span> LED dioda – signalizace nabíjení baterie</div>
          <div><span class="t-content--badge">3</span> LED dioda – signalizace napětí na elektronice</div>
          <div><span class="t-content--badge">4</span> LED dioda – signalizace chodu kamery</div>
          <div><span class="t-content--badge">5</span> USB porty</div>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <div class="t-content--legend">
          <div><span class="t-content--badge">6</span> RJ45 konektor </div>
          <div><span class="t-content--badge">7</span> Výstup ventilátoru chlazení</div>
          <div><span class="t-content--badge">8</span> Vstup vzduchu s filtrem</div>
          <div><span class="t-content--badge">9</span> Vstup termografické kamery (okénko z germania)</div>
          <div><span class="t-content--badge">10</span> Vstup kamery (klasická kamera)</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <div class="t-content--legend">
          <div><span class="t-content--badge">11</span> Displej</div>
          <div><span class="t-content--badge">12</span> Uchycení ke stativu (1/4“)</div>
          <div><span class="t-content--badge">13</span> Připojení adaptéru</div>
        </div>
      </div>



    </div>
  </section>

{/block}