{var $title = "Cíle projektu"}

{* Display properties - titles *}
{var $titleSuffix = true}

{* Display properties - layout parts and widths *}
{var $hubspot = true}
{var $layoutContainer = "container"}
{var $layoutRow = "row justify-content-center"}


{* Base metadata *}
{var $description = "Projekt má ambice usnadnit přístup k vytvořeným pomůckám širokému spektru vzdělávacích institucí a rozšířit svou působnost z Plzeňského kraje do celé České republiky."}



{block content}
  <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2>Cíle projektu</h2>
        <p>Projekt má ambice usnadnit přístup k vytvořeným pomůckám širokému spektru vzdělávacích institucí a rozšířit svou působnost z Plzeňského kraje do celé České republiky.</p>
      </div>
      <div class="col-sm-12 col-md-8" data-aos="fade-up">
        <h2>Přínosy projektu</h2>
        <ul>
          <li>podpora polytechnického vzdělávání a začlenění inovativních pomůcek do výuky na základních a středních školách a dalších vzdělávacích institucích
          <li>interaktivní, zábavné a zároveň smysluplné vyučování</li>
          <li>podpora badatelsky orientované výuky </li>
          <li>zvýšení povědomí o možnostech využití termovizního měření napříč obory</li>
          <li>navázání spolupráce mezi studenty a učiteli z různých škol díky sdílení inspirace a workshopům pro učitele</li>
          <li>navázání spolupráce mezi školami a distribučními centry termokamer</li>
          <li>popularizace vědy a techniky mezi studenty</li>
        </ul>
  </div>
{/block}