{var $title = "front.contact.title"}
{var $titleSuffix = true}
{var $description = "front.contact.desc"}
{var $keywords = "front.contact.keywords"}

{var $layoutContainer = "container"}
{var $layoutRow = "row justify-content-center"}

{block content}
<div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2 class="text-center"><a class="t-link__big" href="mailto:edu.labir.cz">edu@labir.cz</a></h2>
        <p class="text-center"><a href="tel:+420377634786">+420 377 634 786</a><br><a href="tel:+420732322705">+420 732 322 705</a></p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2 class="text-center">Kde nás najdete?</h2>
        <p><strong>Nové technologie - výzkumné centrum</strong><br>Západočeská univerzita v Plzni<br>Teslova 11<br>301 00 Plzeň</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h2 class="text-center">{_front.contact.form.title}</h2>

        {control contactForm}

      </div>
{/block}