{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "front.course.title"}
{var $keywords = "front.course.keywords"}
{var $desc = "front.course.desc"}

{block content}

  <!-- Karel -->
  <section class="t-karel t-karel__collapse__md t-karel__in-5 t-karel__ltr t-karel__textfirst" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <p class="t-section--prefix">Novinka</p>
        <h2 class="font-style__page-name">Kurz LabIR&nbsp;Edu pro&nbsp;učitele</h2>
        <p class="font-style__large mt-4">Základní školení pro využití termokamer ve výuce.</p>
        <div class="alert alert-warning mt-4">
        V současné situaci nabízíme online školení. Neváhejte nás kontaktovat! 
        </div>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img src="{$basePath}/static-content/camera/horizontal-camera-in-hands-on-table.jpg">
      </div>
    </div>
  </section>

  <section class="container t-section t-section__spaced">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h2>Kurz získal akreditaci!</h2>
        <p>10. 11. 2020</p>
        <p>Naše školení pro učitele získalo na Západočeské univerzitě v Plzni oficiální akreditaci.</p>
        <p>Kurz zaštiťuje naše výzkumné centrum Nové technologie (NTC) a vedou ho odborníci na termovizní měření s více jak dvacetiletou praxí.</p>
        <img src="{$basePath}/static-content/logos/logo_NTC_cz.png">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h2>Obsah školení</h2>
        <p>Prezenční kurz v rozsahu <strong>3 hodin</strong> seznámí učitele s naší termokamerou a jejím ovládáním, možnostmi jejího využití a vzorovými pokusy. Spoustu námětů jsme získali od učitelů a inspiraci chceme předávat dál.</p>
        <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a n:href=":Front:Static:reference" class="btn btn-text">Co řekli účastníci</a>
          {* <a n:href="Event:default" class="btn btn-outline-text">Uplynulé akce</a> *}
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <h2>Máte zájem o školení?</h2>

        <p>Pro více informací a v případě zájmu o kurz nás neváhejte kontaktovat.</p>
        <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a n:href=":Front:Static:kontakt" class="btn btn-outline-text">Kontakt</a>
          <!--
          <a n:href="Event:default" class="btn btn-outline-text">Uplynulé akce</a>
          -->
        </div>
      </div>

    </div>
  </section>

{/block}