{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title__ = "front.default.title"}
{var $description = "front.default.desc"}
{var $keywords = "front.default.keywords"}

{block content}

    <!-- Intro section -->
    <section class="t-karel t-karel__in-5 t-karel__collapse__md t-karel__ltr t-karel__textfirst">
        <div class="t-karel--part t-karel--part__text">
        <div class="t-karel--wrap">
            <h1 class="font-style__jumbo">{_front.default.title}</h1>
            <p class="font-style__large">{_front.default.titleDesc|noescape}</p>
            <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
              <a n:href="Static:edukit" class="btn btn-text">LabIR EduKit</a>
              <a n:href=":Admin:Experiment:default" class="btn btn-outline-text">{_front.default.labels.experiments}</a>
              <a n:href="Static:about" class="btn btn-outline-text">{_front.default.labels.about}</a>
            </div>
            <div class="t-home--cam">
                <img class="t-home--cam--image" src="{$basePath}/static-content/camera/camera-outline.svg">
            </div>
        </div>
        </div>
        <div class="t-karel--part t-karel--part__image">
            <div class="t-karel--wrap">
                <video autoplay muted loop id="myVideo" class="lazy t-karel--video">
                    <source data-src="{$basePath}/static-content/video-zebra/labir_edu_720.mp4" type="video/mp4">
                    <img src="{$basePath}/static-content/video-zebra/placeholder.jpg">
                </video>
            </div>
        </div>
    </section>

    <section class="t-section__negative-top container">
        
        <div class="row">
            <div class="col-sm-12">
                <h2 class="t-home--pseudotitle font-style__base">{_front.default.labels.showcase}<span> ↓</span></h2>
            </div>
        </div>
        

        <div class="t-exp--list__teasers t-exp--list__teasers__condensed">
            {if count( $experiments ) >= 0}
                {foreach $experiments as $experiment}
                    {include "../../../../AdminModule/Presenters/templates/Experiment/experimentThumbnail.latte", item: $experiment, classes: "" }
                {/foreach}
            {/if}
        </div>

    </section>

    <div class="text-center">
        <a class="btn btn-outline-text" n:href=":Admin:Experiment:default">{_front.default.labels.more}</a>
    </div>

    <section class="container t-section t-section__heading mt-5" data-aos="fade-up">
        <h2 class="t-section--page-name t-section--page-name__underline">{_front.default.labels.recently}</h2>
    </section>

    {include "../../../../BaseModule/Presenters/templates/Partials/aktualne.latte"}

    <!--
    <section class="t-karel t-karel__in-1 t-karel__collapse__md t-karel__rtl t-karel__imagefirst t-section__spaced" data-aos="fade-up">
        <div class="t-karel--part t-karel--part__text">
        <div class="t-karel--wrap">
            <p class="t-section--prefix">1. 9. 2020 - Aktuality</p>
            <h2 class="font-style__page-name">Soutěž TERMOTALENT 2020</h2>
            <p class="font-style__large">Vyhlašujeme soutěž o nejlepší termovizní&nbsp;pokus!</p>
            <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
            <a n:href="Homepage:soutez" class="btn btn-outline-text">Více informací</a>
            </div>
        </div>
        </div>
        <div class="t-karel--part t-karel--part__image">
            <div class="t-karel--wrap">
                <img class="lazy" data-src="{$basePath}/images/children/soutez.jpg">
            </div>
        </div>
    </section>
    -->

    <!-- Předměty -->
    <section class="t-karel t-karel__collapse__md t-karel__ltr t-karel__imagefirst t-section__spaced" data-aos="fade-up">
        <div class="t-karel--part t-karel--part__text">
            <div class="t-karel--wrap">
                <h2 class="font-style__page-name">{_front.default.subjects.title}</h2>
                <p><strong>{_front.default.subjects.desc1|noescape}</strong></p>
                <p>{_front.default.subjects.desc2|noescape}</p>
                <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
                    
                  <a n:href=":Admin:Experiment:default" class="btn btn-outline-text">{_front.default.labels.experiments}</a>

                </div>
            </div>
        </div>
        <div class="t-karel--part t-karel--part__image">
            <div class="t-karel--wrap">
                <img class="lazy" data-src="{$basePath}/static-content/illustration-subjects/predmety-right.svg">
            </div>
        </div>
    </section>

    <!-- Předměty -->
    <section class="t-karel t-karel__collapse__md t-karel__rtl t-karel__imagefirst t-section__spaced" data-aos="fade-up">
        <div class="t-karel--part t-karel--part__text">
            <div class="t-karel--wrap">
                <h2 class="font-style__page-name">{_front.default.edukit.title}</h2>
                <p><strong>{_front.default.edukit.pedagogues.text, [number=>84]}</strong><br/>{_front.default.edukit.pedagogues.desc}</p>
                <p><strong>{_front.default.edukit.students.text, [number=>722]}</strong><br/>{_front.default.edukit.cameras.text, [number=>46]}</p>
                <p><strong>46 kamer</strong><br/>{_front.default.edukit.cameras.desc}</p>
                <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
                      <a n:href="Static:zapojit" class="btn btn-outline-text">Zapojte se</a>
                      <a n:href="Static:edukit" class="btn btn-outline-text">O EduKitu</a>

                </div>
            </div>
        </div>
        <div class="t-karel--part t-karel--part__image">
            <div class="t-karel--wrap">
                <img class="lazy" data-src="{$basePath}/static-content/camera/camera-outline.svg">
            </div>
        </div>
    </section>


{/block}