{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "front.edukit.title"}

{block content}

  <!-- Karel -->
  <section class="t-karel t-karel__in-3 t-karel__collapse__md t-karel__ltr t-karel__textfirst" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <h2 class="font-style__page-name">{_front.edukit.title}</h2>
        <p>{_front.edukit.desc}</p>
        <div class="btn-group" role="group" aria-label="Jak získat LabIR EduKit">
          <a href="#nabidka" class="btn btn-outline-text">{_front.edukit.labels.weoffer}</a>
          <a href="#ziskat" class="btn btn-outline-text">{_front.edukit.labels.toget}</a>
          <a n:href="Documentation:default" class="btn btn-outline-text">{_front.edukit.labels.docs}</a>
        </div>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img class="lazy" data-src="{$basePath}/static-content/camera/horizontal-camera-labir.jpg">
      </div>
    </div>
  </section>

  <section id="nabidka" class="t-section t-section__spaced">

    <div class="t-bubble-list">

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-1 t-bubble__out-3" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/camera/horizontal-camera-in-hands-on-table.jpg">
        </figure>
        <h3>{_front.edukit.camera.title}</h3>
        <p>{_front.edukit.camera.text}</p>
        <div class="t-bubble--buttons">
          <a class="btn btn-outline-text" n:href="Static:camera">{_front.edukit.camera.buttons.props}</a>
          <a class="btn btn-outline-text"  n:href="Documentation:default">{_front.edukit.labels.docs}</a>
        </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble" data-aos="fade-up">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/software/trend.jpg">
        </figure>
        <h3>{_front.edukit.software.title}</h3>
        <p>{_front.edukit.software.text}</p>
        <div class="t-bubble--buttons">
          <a n:href="Static:software" class="btn btn-outline-text">{_front.edukit.software.buttons.potential}</a>
        </div>
      </div>

    </div>
  </section>



  <!-- -->

  <section id="ziskat" class="container t-section t-section__heading" data-aos="fade-up">

    <h2 class="t-section--page-name">{_front.edukit.acquire.title}</h2>

    <p class="t-section--suffix">{_front.edukit.acquire.subtitle}</p>

  </section>


  <section class="container t-section t-section__spaced">
    <div class="row">
      <div class="col-sm-12 col-md-6" data-aos="fade-up">
        <h2 class="text-center mb-5">{_front.edukit.acquire.buy.title}</h2>
        <p class="text-center">{_front.edukit.acquire.buy.text}</p>
      </div>
      <div class="col-sm-12 col-md-6" data-aos="fade-up">
        <h2 class="text-center mb-5">{_front.edukit.acquire.borrow.title}</h2>
        <p class="text-center">{_front.edukit.acquire.borrow.text}</p>
        <p class="text-center">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1pfDwUjhZrAW4TMJAGficdAnmtK8J4kf2p9ilVG8UQ2-LgA/viewform?usp=sf_link" target="_blank" class="btn btn-outline-text">{_front.edukit.acquire.borrow.button}</a>
        </p>
      </div>
    </div>
  </section>

{/block}