{var $title = "Svět kolem nás očima termokamery" }
{var $titleSeo = "Inspirace"}
{var $titlePrefix = "Inspirace"}
{var $titleSuffix = true }

{block content}

  <section class="container t-section t-section__spaced text-center">
    <a class="btn btn-text" href="/static-content/experiments/LabIR_Edu_sada_pokusu.pdf">Sada pokusů ke stažení</a>
  </section>

  <section class="text-center container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7">
        <p>Ukázka termografických snímků Vás může inspirovat, co vše můžou žáci objevovat s termokamerou.</p>
      </div>
    </div>
  </section>

  <main class="container-fluid mb-5">

    <div class="row">

      <!-- sekce -->

      <section class="col-xs-12 col-md-6">

        <h3 class="text-center mb-3">Lidské tělo</h3>
        <div class="row">
          
          <div class="col-xs-4 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/clovek_01.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/clovek_01.jpg">
            </a>
          </div>

          <div class="col-xs-4 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/clovek_02.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/clovek_02.jpg">
            </a>
          </div>

          <div class="col-xs-4 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/clovek_03.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/clovek_03.jpg">
            </a>
          </div>

          <aside class="col-sm-12 mt-3">
            <div class="alert alert-info">

              <h6><i class="fas fa-lightbulb"></i> Tip</h6>
            
              <p>Víte, že náš výzkumný tým infračervených technologií na <a href="https://ntc.zcu.cz" target="_blank">NTC</a> provádí ve spolupráci s <a href="fzs.zcu.cz" target="_blank">Fakultou zdravotnických studií ZČU</a> a plzeňskou <a href="https://techmania.cz">Techmanií</a> výzkumný projekt o využití termovizních měřících systémů pro detekci zvýšené teploty osob? <a href="https://www.facebook.com/TermovizeDoSkol/posts/4615139971860932" target="_blank">Více informací zde.</a></p>

            </div>

          </aside>

        </div>
      </section>

      <!-- sekce -->
      <section class="col-xs-12 col-md-6">

        <h3 class="text-center mb-3">Tepelné úniky z budov</h3>
        <div class="row">
          
          <div class="col-xs-12 col-sm-6">
            <a href="{$baseUrl}/static-content/inspirace/budova_01_ttp.png" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/budova_01_ttp.png">
            </a>
          </div>

          <div class="col-xs-12 col-sm-6">
            <a href="{$baseUrl}/static-content/inspirace/budova_02_radovka.png" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/budova_02_radovka.png">
            </a>
          </div>

          <div class="col-xs-12 col-sm-12 mt-3">
            <a href="{$baseUrl}/static-content/inspirace/budova_00_kampus.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/budova_00_kampus.jpg">
            </a>
          </div>

          <aside class="col-sm-12 mt-3">
            <div class="alert alert-info">

              <h6><i class="fas fa-lightbulb"></i> Tip</h6>
            
              <p>Poznáte, kde se v budově ZČU nachází servery pohánějící celou univerzitní infrastrukturu? Na snímku je nejteplejší právě okno do serverovny.</p>

            </div>

          </aside>

        </div>
      </section>


      <!-- sekce -->
      <section class="col-xs-12 col-md-6">

        <h3 class="text-center mb-3">Zvířata</h3>
        <div class="row">
          
          <div class="col-xs-12 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/had_02.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/had_02.jpg">
            </a>
          </div>

          <div class="col-xs-12 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/had_01_krmeni.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/had_01_krmeni.jpg">
            </a>
          </div>

          <div class="col-xs-12 col-sm-4">
            <a href="{$baseUrl}/static-content/inspirace/had_00_pres_sklo.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/had_00_pres_sklo.jpg">
            </a>
          </div>

        </div>
      </section>

      <!-- sekce -->
      <section class="col-xs-12 col-md-6">

        <h3 class="text-center mb-3">V domácnosti</h3>
        <div class="row">
          
          <div class="col-xs-12 col-sm-6">
            <a href="{$baseUrl}/static-content/inspirace/kuchyne_01_toasty.png" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/kuchyne_01_toasty.png">
            </a>
          </div>

          <div class="col-xs-12 col-sm-6">
            <a href="{$baseUrl}/static-content/inspirace/kuchyne_02_lednice.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/kuchyne_02_lednice.jpg">
            </a>
          </div>

          <div class="col-xs-12 col-sm-6 mt-3">
            <a href="{$baseUrl}/static-content/inspirace/topeni_01_radiator.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/topeni_01_radiator.jpg">
            </a>
          </div>

          <div class="col-xs-12 col-sm-6 mt-3">
            <a href="{$baseUrl}/static-content/inspirace/topeni_02_sklep.jpg" class="t-gallery--item">
              <img class="lazy" data-src="{$baseUrl}/static-content/inspirace/topeni_02_sklep.jpg">
            </a>
          </div>

        </div>
      </section>



    </div>

  </main>

{/block}