{var $title = "Reference"}

{var $titleSuffix = true}

{var $description = "Vážíme si zpětné vazby od pedagogů, kteří termokamery využívají ve svých hodinách."}
{var $keywords = "testimonials, reference, co o nás řekli, kde se používá"}

{block content}
<section class="container-fluid t-section t-section__spaced">
    <div class="row justify-content-center">
    {foreach $testimonials as $testimonial}
      <article class=" t-reference col-sm-12 col-mm-6 col-xl-4" data-aos="fade-up">
        <header class="t-reference--header row align-items-center">
            <figure class="t-reference--image col-sm-8 col-md-4">
                <img class="t-reference--image" src="{$basePath}/static-content/people/testimonials/{$testimonial['image']}" class="">
            </figure>
            <div class="col-xs-12 col-md-8">
                <h2 class="t-reference--heading">{$testimonial["name"]}</h2>
                <ul class="t-reference--functions">
                    {foreach $testimonial["function"] as $function}
                        <li>{$function}</li>
                    {/foreach}
                
                </ul>
            </div>
        </header>
        <div class="t-reference--statement">
        
        {foreach $testimonial["statement"] as $paragraph }
            <p>{$paragraph}</p>
        {/foreach}
        </div>
      </article>
      {/foreach}
    </div>
</section>
{/block}