{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "Soutěž Termotalent 2020/21😉"}
{var $description = "Výsledky prvního ročníku soutěže Termotalent. Gratulujeme všem účastníkům!"}
{var $keywords = "soutěž, základní školy, střední školy, termokamera, termovize do škol, 2020, výsledky"}
{var $titleSuffix = true}

{block content}
  <section class="t-karel t-karel__in-1 t-karel__collapse__md t-karel__ltr t-karel__imagefirst t-section__spaced" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">

        <p class="t-section--prefix">Výsledky prvního ročníku soutěže!</p>
          
        <h1 class="font-style__page-name">Termotalent 2020<span class="color-secondary">/21</span>😉</h1>

        <p class="mt-3">V září 2020 vyhlásilo NTC ZČU v Plzni první ročník soutěže pro studenty ZŠ a SŠ <strong>o nejvynalézavější využití termokamer LabIR ve výuce</strong>. Úkolem bylo <strong>vymyslet, provést a zdokumentovat zajímavý pokus</strong> využívající termokameru LabIR EDU.</p>

        <p>Během celého roku měli mladí badatelé možnost realizovat soutěžní projekty.  Celkové vyhlášení soutěže proběhlo online dne 25. 5. 2021.</p>

      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img src="{$basePath}/static-content/illustrations-children/bubble-telocvicna.jpg">
      </div>
    </div>
  </section>

  <!-- Texty -->
  <section class="container t-section">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-6" data-aos="fade-up">

        <h2>Děkujeme všem 72 soutěžícím!</h2>

        <p>První ročník soutěže byl omezen na Plzeňský kraj. Soutěže se v 10 týmech přihlásilo přihlásilo celkem 72 mladých badatelů z 5 škol.</p>


        <ul>
          <li>
            <a href="https://goas.cz">Gymnázium Stříbro</a>:
            <ul>
              <li>sexta: Přirozené tepelné jevy ve včelím úlu</li>
              <li>kvarta: Exotermické a endotermické reakce</li>
            </ul>
          </li>
          <li>
            <a href="https://mgplzen.cz">Masarykovo gymnázium Plzeň</a>:
            <ul>
              <li>sekunda: Staň se detektivem</li>
              <li>sekunda: Zhasni, šetříme!</li>
              <li>sekunda: Plechovky</li>
              <li>sekunda:: Jednofázový elektromotor</li>
            </ul>
          </li>
          <li>
            <a href="https://www.gasos-ro.cz/web/">Gymnázium a SOŠ Rokycany</a>:
            <ul>
              <li>tercie: Pokus s vakuem</li>
              <li>sekunda: Brždění vlaku a další pokusy</li>
            </ul>
          </li>
          <li>
            <a href="https://www.zs-myto.cz">ZŠ Mýto</a>:
            <ul>
              <li>badatelský kroužek: Jak využít termokameru?</li>
            </ul>
          </li>
          <li>
            <a href="https://www.zszbiroh.cz">ZŠ Zbiroh</a>:
            <ul>
              <li>Detektivka</li>
            </ul>
          </li>
        </ul>

        

      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up">

        <h2>Gratulujeme vítězům!</h2>

        <p>První ročník soutěže probíhal ve ztížených podmínkách pandemie Covid-19. Přestože týmy častokrát své projekty realizovali na dálku v rámci lockdownů, vznikly zajímavé a kvalitně zpracované pokusy.</p>

        <ul>
          <li>
            <strong>1. místo</strong>
            <ul>
              <li>
                <div>
                  <strong>
                    <a n:href=":Admin:Experiment:detail exotermicke-a-endotermicke-reakce">Exotermické a exotermické reakce</a>
                  </strong>
                </div>
                <div>"Holčičky a Mikuláš z G4"</div>
                <div>Gymnázium Stříbro</div>
              </li>
            </ul>
          </li>
          <li>
            <strong>2. místa</strong>
            <ul>
              <li>
                <div>
                  <strong>
                    Pokus s vakuem
                  </strong>
                </div>
                <div>Adam Baborák, Jiří Rejzek</div>
                <div>Gymnázium a SOŠ Rokycany</div>
              </li>
              <li>
                <div>
                  <strong>
                    Plechovky
                  </strong>
                </div>
                <div>sekunda</div>
                <div>Masarykovo gymnázium Plzeň</div>
              </li>
            </ul>
          </li>
          <li>
            <strong>3. místa</strong>:
            <ul>
              <li>
                <div>
                  <strong>
                    Jak využít termokameru
                  </strong>
                </div>
                <div>Badatelský kroužek</div>
                <div>ZŠ Mýto</div>
              </li>
              <li>
                <div>
                  <strong>
                    <a n:href=":Admin:Experiment:detail zahrivani-elektromotoru">Jednofázový elektromotor</a>
                  </strong>
                </div>
                <div>"Holčičky a Mikuláš z G4"</div>
                <div>Gymnázium Stříbro</div>
              </li>
            </ul>
          </li>

        </ul>

        
      </div>


    </div>
  </section>

  <!-- Oceněné projekty -->
  <div class="container">
    <h2 class="text-center pb-3">Vybrané soutěžní projekty</h2>

    <div class="t-exp--list__teasers t-exp--list__teasers__condensed">
      {if count( $experiments ) >= 0}
        {foreach $experiments as $experiment}
          {include "../../../../AdminModule/Presenters/templates/Experiment/experimentThumbnail.latte", item: $experiment, classes: "" }
        {/foreach}
      {/if}
    </div>
  </div>

{/block}