{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "Soutěž Termotalent 2020/21😉"}
{var $description = "Soutěž pro školní kolektivy probíhá i v době současných opatření! Termíny přihlášek a vyhodnocení upřesníme podle aktuální situace. Zapojte se ještě dnes!"}
{var $keywords = "soutěž, základní školy, střední školy, termokamera, termovize do škol"}
{var $titleSuffix = true}

{block content}
  <section class="t-karel t-karel__in-1 t-karel__collapse__md t-karel__ltr t-karel__imagefirst t-section__spaced" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">

        <p class="t-section--prefix">Vyhlašujeme soutěž!</p>
          
        <h2 class="font-style__page-name">Termotalent 2020<span class="color-secondary">/21</span>😉</h2>

        <div class="alert alert-warning mt-3">
          <strong>Soutěž probíhá i v současné situaci!</strong>
          <span>Přihlášky jsou již uzavřené. Vyhlášení proběhne na konci školního roku 2020/21.</span>
        </div>

        <p class="mt-3 text-bold">Vyzkoušejte, co vše se dá změřit s termokamerou a vymyslete váš vlastní originální experiment!</p>
        <p class="mt-3">NTC ZČU v Plzni vyhlašuje soutěž pro studenty ZŠ a SŠ v Plzeňském kraji <strong>o nejvynalézavější využití termokamer LabIR ve výuce</strong>. Úkolem soutěžících je <strong>vymyslet, provést a zdokumentovat zajímavý pokus</strong> využívající termokameru LabIR EDU.</p>

      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img src="{$basePath}/static-content/illustrations-children/bubble-telocvicna.jpg">
      </div>
    </div>
  </section>

  <section class="container t-section">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-6" data-aos="fade-up">

        <ol class="t-list__sequence">
          <li>
            <span class="t-list--wrap">
              <strong>Zaregistrujte svůj tým</strong>
              <ul>
                <li>Termín přihlášek do konce pololetí školního roku 2020/21.</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Půjčíme Vám termokameru</strong>
              <ul>
                <li>Brzy Vás kontaktujeme pro domluvení termínu, na který Vám zapůjčíme termokameru.</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Realizujte soutěžní experiment</strong>
              <ul>
                <li>Zašlete nám dokumentaci soutěžního pokusu.</li>
                <li>Vyhlášení vítězů a předání cen proběhne <ins>na konci školního roku 2020/21</ins>.</li>
              </ul>
            </span>
          </li>
        </ol>
        <div class="alert alert-warning">
          <h6>Termíny posunuty</h6>
          <p>S ohledem na vývoj epidemiologické situace posouváme termíny:</p>
          <ul>
            <li>Přihlášky:<br>do konce 1. pololetí školního roku 2020/21</li>
            <li class="mt-3">Vyhlášení výsledků:<br><ins>konec školního roku 2020/21</ins></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up">

        <h3>Soutěžní kritéria</h2>
        <ul class="t-list__dotted">
          <li>
            <span class="t-list--wrap">
              <strong>Námět experimentu</strong>
              <ul>
                <li>Zajímavý jev či předmět zkoumání můžete nalézt kdekoliv - v laboatoři anebo dílně, v přírodě, ve městě nebo třeba doma.</li>
                <li>Neomezujte se hranicemi předmětů! Naopak uvítáme, když se vám podaří nalézt mezioborové vazby!</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Vysvětlení jevu a přesnost měření</strong>
              <ul>
                <li>Experiment může být zaměřený buďto na vysvětlení obecných zákonitostí termodynamiky anebo na projevy tepelných procesů v jiných oborech či v praxi.</li>
                <li>Ať již budete experimentovat s látkou spadající do fyziky, chemie, biologie anebo technické, environmentální či výtvarné výchovy, zkoumaný jev byste měli uchopit správně.</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Forma prezentace experimentu</strong>
              <ul>
                <li>Kdokoliv by měl být schopný váš pokus zopakovat a sám poznat to, co jste objevili vy.</li>
                <li>Experiment můžete prezentovat jako plakát, video, prezentace či třeba pracovní list s přesným návodem.</li>
                <li>Formu necháváme zcela na vás - najděte tu nejvhodnější pro vaše téma!</li>
              </ul>
            </span>
          </li>
        </ul>
      </div>

      

      <div class="col-sm-12 col-md-4" data-aos="fade-up">
        <h2>Hodnocení</h2>
        <p>Projekty budou hodnoceny komisí, která se bude skládat z odborníků v oblasti termografie. Klíčovými kritérii hodnocení budou: vzdělávací přínos, unikátnost nápadu, kreativita zpracování a přesnost zpracování.</p><p>V polovině listopadu se mohou tři nejlepší týmy těšit na slavnostní vyhlášení v našem výzkumném centru.</p>
      </div>

      <div class="col-sm-12 col-md-4" data-aos="fade-up">
        <h2>Ceny</h2>
        <p>Zveřejníme již brzy</p>
      </div>

      <!--
      <div class="col-sm-12" data-aos="fade-up" style="padding-top:0px; padding-bottom: 0px;">
        <h2>A jaké vás budou čekat ceny?</h2>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h3>1. místo</h3>
        <ul>
          <li>3.000 Kč pro studentský tým, 5.000 Kč pro školu nebo vzdělávací centrum</li>
          <li>10 ks volných vstupenek do Techmania Science Center</li>
          <li>20% sleva na zakoupení termokamery LabIR Edu</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h3>2. místo</h3>
        <ul>
          <li>1.500 Kč pro studentský tým, 3.000 Kč pro školu nebo vzdělávací centrum </li>
          <li>5 ks volných vstupenek do Techmania Science Center</li>
          <li>10% sleva na zakoupení termokamery LabIR Edu</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
        <h3>3. místo</h3>
        <ul>
          <li>1.000 Kč pro studentský tým, 2.000 Kč pro školu nebo vzdělávací centrum </li>
          <li>10% sleva na zakoupení termokamery LabIR Edu</li>
        </ul>
      </div>
      -->
    </div>
  </section>

{/block}