{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "Pokusy s termokamerou v distančním vzdělávání"}
{var $description = "Víte, že naše termokamery můžete použít i pro online výuku? Streamujte pokusy Vašim žákům!"}
{var $keywords = "RTSP, stremování, pokusy, online"}
{var $titleSuffix = true}


{block content}

  <section class="t-karel t-karel__in-2 t-karel__collapse__lg t-karel__ltr t-karel__textfirst t-section__spaced" data-aos="fade-up">
        <div class="t-karel--part t-karel--part__text">
        <div class="t-karel--wrap">
            <h1 class="font-style__page-name">Termokamera v&nbsp;distanční výuce</h1>
            <p class="font-style__large">Termokamera LabIR Edu umí živý stream na&nbsp;internet. Můžete také sdílet záznamy předtočených pokusů a&nbsp;doplňovat je pokročilými analýzami.</p>
            <div class="">
              <img class="lazy" data-src="{$basePath}/static-content/docs/rtsp/sharing_apps.svg">
            </div>
            <div class="alert alert-info mt-3">
              <i class="fas fa-lightbulb"></i> <strong>Rádi Vám poradíme, jak na to!</strong>
            </div>
        </div>
        </div>
        <div class="t-karel--part t-karel--part__image">
            <div class="t-karel--wrap">
                <img class="lazy" data-src="{$basePath}/static-content/docs/rtsp/stream_cover.svg">
            </div>
        </div>
  </section>

  <section class="container t-section">
    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-9" data-aos="fade-up">
        <div class="row">
          <div class="col-md-6">
            <h3>Živý obraz z kamery</h3>
            <div class="mb-3">
              <img src="{$baseUrl}/static-content/docs/rtsp/sharing_stream.svg">
            </div>
            <ul class="t-list__features">
              <li>Kameru připojte kabelem k počítači.<br><br></li>
              <li>Živý obraz z kamery otevřete například v přehrávači <a href="https://www.videolan.org/vlc/index.cs.html" target="_blank">VLC</a> (návod níže).</li>
              <li>Žákům můžete nasdílet Vaši obrazovku s pokusem v přímém přenosu a Vašim komentářem.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Záznam pokusu</h3>
            <div class="mb-3">
              <img src="{$baseUrl}/static-content/docs/rtsp/sharing_labir.svg">
            </div>
            <ul class="t-list__features">
              <li>Kamerou pořiďte záznam pokusu do formátu LRC (<b>L</b>abIR <b>R</b>e<b>C</b>ording).</li>
              <li>Sekvenci otevřete v našem vyhodnocovacím software <a n:href="Static:software">LabIR Edu</a>.</li>
              <li>Žákům můžete nasdílet Vaši obrazovku i s teplotními analýzami a Vaším komentářem.</li>
            </ul>
          </div>
          <div class="col-sm-12">
            <div class="alert alert-info">
              <h6><i class="fas fa-lightbulb"></i> Rádi Vám poradíme, jak na to.</h6>
              <div>Máte-li zájem o využití termokamery v online výuce, napište nám to do <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1pfDwUjhZrAW4TMJAGficdAnmtK8J4kf2p9ilVG8UQ2-LgA/viewform?usp=sf_link" target="_blank">žádosti o výpůjčku</a>. Při předání termokamery Vám nastavení ukážeme.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3" data-aos="fade-up">
        <h2>Půjčte si termokameru</h2>
        <p>V současné době se můžete zapojit do probíhající soutěže <a n:href="Static:soutez">Termotalent 2020/21😉</a>. Soutěžním třídám poskytneme kameru k provádění experimentů.</p>
        <p>Dle kapacity je možné si termokameru půjčit i bez účasti v soutěži. <a n:href="Static:kontakt">Kontaktujte nás!</a></p>
      </div>

      <div class="col-sm-12 col-md-4" data-aos="fade-up">

        <h2>Co potřebujete pro živý stream?</h2>
        <ul>
          <li>Termokameru LabIR Edu</li>
          <li>Běžný síťový kabel (ethernet)</li>
          <li>Stativ</li>
          <li>Počítač s VLC či webovým prohlížečem
              <ul>
                <li>Kamera je přístupná přes běžný protokol rtsp://</li>
                <li>Rádi Vám poradíme s propojením!</li>
              </ul>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-8" data-aos="fade-up">

        <h3 class="pb-3">Návod na připojení k termokameře</h2>

        <ol class="t-list__sequence">
          <li>
            <span class="t-list--wrap">
              <strong>Umístěte termokameru na stativ</strong>
              <ul>
                <li>Termokamera LabIR Edu je kompatibilní s běžnými stativy pro fotoaparáty.</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Síťovým kabelem propojte kameru k počítači</strong>
              <ul>
                <li>Potřebujete standardní ethernetový kabel.</li>
              </ul>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>V počítači otevřete obraz z&nbsp;termokamery</strong>
                <ol>
                  <li><b>Po zapojení kabelu na kameře povolte síťové spojení</b><br>Settings > Network > Enable network connection<br><a class="t-gallery--item" href="{$baseUrl}/static-content/docs/rtsp/networking.jpg" title="Povolte síťové spojení"><img class="lazy" data-src="{$baseUrl}/static-content/docs/rtsp/networking.jpg"></a></li>
                  <li class="mt-3">Nekolik sekund po povolení spojení <b>uvidíte IP adresu kamery</b>. <b>Pod ní je nutné zapnout streamování.</b><br>Settings > Network > IPv4 (příklad: <code>192.148.0.2</code>)<br><a class="t-gallery--item" href="{$baseUrl}/static-content/docs/rtsp/rtsp.jpg" title="Povolte streamování spojení"><img class="lazy" data-src="{$baseUrl}/static-content/docs/rtsp/rtsp.jpg"></a></li>
                  <li class="mt-3"><b>V počítači</b> můžete kameru přistupovat například <b>přehrávačem VLC</b><br/>(pomocí Soubor > Otevřít ze síťe).</li>
                  <li class="mt-3"><b>Zadejte IP adresu termokamery</b> ve formátu <code><b>rtsp://</b>xxx.xxx.xx.x<b>:5540/live.sdp</b></code><br>příklad: <code>rtsp://192.148.0.2:5540/live.sdp</code></li>
                  <li class="mt-3"><b>Vidíte realtime obraz z termokamery!</b></li>
                </ol>
            </span>
          </li>
          <li>
            <span class="t-list--wrap">
              <strong>Sdílejte obraz žákům</strong>
              <ul>
                <li>Při provádění pokusů můžete žákům nasdílet vlastní obrazovku s otevřeným VLC.</li>
              </ul>
            </span>
          </li>
        </ol>

      </div>

    </div>
  </section>

{/block}