{var $title = "Tým"}

{* Display properties - titles *}
{var $titleSuffix = true}

{* Display properties - layout parts and widths *}
{var $hubspot = true}
{var $layoutContainer = "container-fluid"}
{var $layoutRow = "row justify-content-center"}
{var $layoutColumn = "col-12"}


{* Base metadata *}
{var $description = "Členové realizačního týmu Termovize do škol."}
{var $metadata = "lidé, realizační tým"}

{block head}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous">
{/block}


{block content}

  <div class="t-bubble-list">

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-1 t-bubble__out-3">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/jsroub.jpg">
        </figure>
        <h3>Jan Šroub</h3>
        <p class="t-bubble--position">vedoucí projektu</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:jsroub@labir.cz"><i class="far fa-envelope" target="_blank"></i></a>
			    <a href="https://www.linkedin.com/in/jan-šroub-740b7312/" target="_blank"><i class="fab fa-linkedin"></i></a>
			  </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-3 t-bubble__out-1">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/anovak.jpg">
        </figure>
        <h3>Alice Nováková</h3>
        <p class="t-bubble--position">komunikace s partnery</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:novakal@labir.cz"><i class="far fa-envelope" target="_blank"></i></a>
			    <a href="https://www.linkedin.com/in/alice-nov%C3%A1kov%C3%A1-085b3a164/" target="_blank"><i class="fab fa-linkedin"></i></a>
			  </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-5 t-bubble__out-2">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/vlang.jpg">
        </figure>
        <h3>Vladislav Lang</h3>
        <p class="t-bubble--position">vedoucí vývoje</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:vlang@labir.cz"><i class="far fa-envelope" target="_blank"></i></a>
			    <a href="https://www.linkedin.com/in/vladislav-lang-34690939/" target="_blank"><i class="fab fa-linkedin"></i></a>
			  </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-4 t-bubble__out-5">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/tomask.jpg">
        </figure>
        <h3>Tomáš Kohlschutter</h3>
        <p class="t-bubble--position">software</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:kolsi@labir.cz"><i class="far fa-envelope" target="_blank"></i></a>
			  </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-1 t-bubble__out-3">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/klepy.jpg">
        </figure>
        <h3>Jan Klepáček</h3>
        <p class="t-bubble--position">konstrukce</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:kolsi@labir.cz"><i class="far fa-envelope" target="_blank"></i></a>
			  </div>
      </div>

      <!-- Bubble -->
      <div class="t-bubble t-bubble__in-2 t-bubble__out-1">
        <figure class="t-bubble--image">
          <img src="{$basePath}/static-content/people/staff/blb.jpg">
        </figure>
        <h3>Jan Jáchim</h3>
        <p class="t-bubble--position">grafika, web</p>
        <div class="t-bubble--buttons__far">
			    <a href="mailto:jachim@ntc.zcu.cz"><i class="far fa-envelope" target="_blank"></i></a>
			  </div>
      </div>

  </div>

{/block}