{layout "../../../../BaseModule/Presenters/templates/@layout.latte"}

{var $title = "Zapojte se"}

{block content}

  <section class="container t-section t-section__heading">

    <h2 class="t-section--page-name">Zapojte se</h2>

    <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a href="#partner" class="btn btn-outline-secondary">Firmy, veřejný sektor</a>
          <a href="#centrum" class="btn btn-outline-secondary">Školy</a>
          <a href="#lektor" class="btn btn-outline-secondary">Nadšenci</a>
        </div>

  </section>


   <section id="partner" class="t-karel t-karel__collapse__md t-karel__in-4 t-karel__ltr t-karel__textfirst" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <div class="t-section--prefix">Firmy, Veřejný sektor</div>
        <h2 class="font-style__page-name">Podpořte nás!</h2>
        <p>Chcete podpořit inovativní polytechnické vzdělávání?</p>
        <p>Stále hledáme partnery našeho projektu. Máte zájem o financování zapůjčení termokamer do škol či distribučního centra ve Vašem kraji nebo chcete podpořit vývoj dalších termokamer?</p>
        <p>
          <strong>Mgr. Alice Nováková</strong><br>
          Manažer pro partnery<br>
          tel: <a href="tel:+420732322705">732 322 705</a><br>
          mail: <a href="mailto:novakal@ntc.zcu.cz">novakal@ntc.zcu.cz</a>
        </p>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img src="{$basePath}/static-content/illustrations-children/square-workshop-zoo.jpg">
      </div>
    </div>
  </section>

  <section id="centrum" class="t-karel t-karel__collapse__md t-karel__in-2 t-karel__rtl t-karel__textfirst" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <div class="t-section--prefix">Vzdělávací instituce</div>
        <h2 class="font-style__page-name">Staňte se regionálním distributorem!</h2>
        <p>Naše termokamery chceme dostat ke  studentům po celé České republice. Hledáme proto partnery, kteří by nám s tím pomohli - školy, univerzity, vzdělávací či výzkumná centra. Náklady na provoz distribučního centra budou hrazeny.</p>
        <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a href="mailto:edu@labir.cz" class="btn btn-text">Kontaktujte nás</a>
        </div>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <img src="{$basePath}/static-content/camera/horizontal-camera-in-hands-on-table.jpg">
      </div>
    </div>
  </section>

  <section id="lektor" class="t-karel t-karel__collapse__md t-karel__in-1 t-karel__ltr t-karel__textfirst" data-aos="fade-up">
    <div class="t-karel--part t-karel--part__text">
      <div class="t-karel--wrap">
        <div class="t-section--prefix">Nadšenci do nových technologií</div>
        <h2 class="font-style__page-name">Staňte se lektorem</h2>
        <p>Jste nadšenec do moderních technologií a rád/a pracujete s dětmi? Staňte se lektorem LabIR Edu. Bude Vás čekat školení od odborníků na termografii, po kterém sami povedete workshopy pro studenty.  Kreativitě meze ale neklademe, můžete pro děti vymýšlet i nové pokusy a hry s naší termokamerou. Lektorství je vhodné pro učitele nebo jako brigáda pro nadané studenty. Odměna formou dohody o provedení práce.</p>
        <div class="btn-group" role="group" aria-label="Co s tím lze dělat?">
          <a href="mailto:edu@labir.cz" class="btn btn-text">Staňte se členem našeho týmu</a>
        </div>
      </div>
    </div>
    <div class="t-karel--part t-karel--part__image">
      <div class="t-karel--wrap">
        <video autoplay muted loop id="myVideo" class="t-karel--video">
          <source src="{$basePath}/static-content/video-sauron/clenem-tymu.mp4" type="video/mp4">
          <img src="{$basePath}/static-content/video-sauron/placeholder.jpg">
        </video>
      </div>
    </div>
  </section>

{/block}