
{var $titleSuffix = true }
{var $layoutColumn = false }

{block content}

  {if $user->isAllowed("experiment")}
  <div class="col-12 text-center pb-3">
    <a n:href="Experiment:detail $item->slug">Zobrazit detail</a>
  </div>
  {/if}

  <div class="col-12 col-md-6">
    {control experimentCreatorForm}
  </div>
  <div class="col-12 col-md-6">
    {if $filesCount > 0}
      <h4>Materiály ke stažení</h4>
      {control experimentFilesOverview}
    {/if}
    <h4>Přidat materiál ke stažení</h4>
    {control experimentFilesForm}
  </div>
{/block}