

{block content}
  
  <div class="col-12 col-md-3 col-lg-2">

    {foreach $filters as $filter }
      {include "menu.latte", data:$filter }
    {/foreach}

  </div>

  <div class="col-12 col-md-6 col-lg-8">
    <div class="t-exp--list__teasers t-exp--list__teasers__condensed">
      {if count( $experiments ) >= 0}
        {foreach $experiments as $experiment}
          {include "experimentThumbnail.latte", item: $experiment, classes: "" }
        {/foreach}
      {/if}
    </div>
  </div>

{/block}