{var $title = $item->name }
{var $titleSuffix = true }

{block content}

<div class="container">

  <div class="row">
      
      <div class="col col-12 col-md-5">

        <h1 class="font-style__page-name">{$item->name}</h1>

        <hr>

        <div class="row pb-2">
          <div class="col-12 col-sm-4">
            {_fields.difficulty.name}
          </div>
          <div class="col-12 col-sm-8">
            {for $i=1;$i<=5;$i++}
              <i n:class="$i<=$item->difficulty? fa : far, fa-star"></i>
            {/for}
          </div>
        </div>

        {include "flaglist.latte", data: $subjects, title: "subject.res.pl.nom", color:"secondary"}

        {include "flaglist.latte", data: $tags, title:"tag.res.pl.nom", color:"gray"}

        {include "flaglist.latte", data: $folders, title:"folder.res.pl.nom", color:"gray"}

        <hr>

        <div class="text">
          {$item->text|noescape}
        </div>
        
      </div>

      <div class="col col-12 col-md-7">
        {imgAbs $item->thumb }
      </div>

  </div>

</div>

<div class="container-fluid bg-light my-5 py-5">

  {* If there is any fole to be displayed, display it *}
  {if $files != null }

    <div class="files files--files row justify-content-center align-items-stretch">
    
      <div class="block col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" n:foreach="$files as $file">
        
        <div class="p-3">

          {if $file->scope == "image"}
            <div class="t-exp--file t-exp--file__image">
              <a href="{$baseUrl}/uploads/{$file->path}" class="t-gallery--item" rel="gallery" title="{$file->name}">
                <div class="t-exp--file__preview">
                  {img $file->thumbnail }
                </div>
              </a>
              <h3 class="t-exp--file__name">{$file->name}</h3>
              <div>
                <div class="t-exp--file t-exp--file__description">
                  {$file->description}
                </div>
                <div class="t-exp--file__link">

                    <a href="{$baseUrl}/{$file->path}">

                      {_fields.upload.ops.download_file }

                      {$file->extension|upper}

                      ({$file->size|bytes})

                    </a>

                    {if $user->isAllowed("experiment","edit")}
                      <br>
                      <a n:href="Experiment:edit $file->id">{_fields.upload.ops.edit_file}</a>
                    {/if}

                </div>
              </div>
            </div>

          {elseif $file->scope=="video"}

            <div class="t-exp--file t-exp--file__video">

              <video controls="" class="lazy loaded" data-ll-status="loaded">
                <source type="video/mp4" src="{$basePath}/{$file->path}">
              </video>

              <h3 class="t-exp--file__name">{$file->name}</h3>

              <div class="t-exp--file__description">
                {$file->description|noescape}
              </div>

              <div class="t-exp--file__link">
                
                    <a href="{$baseUrl}/{$file->path}">

                      {_fields.upload.ops.download_file }

                      {$file->extension|upper}

                      ({$file->size|bytes})
                      
                    </a>

                    {if $user->isAllowed("experiment","edit")}
                      <br>
                      <a n:href="Experiment:edit $file->id">{_fields.upload.ops.edit_file}</a>
                    {/if}

                </div>

            </div>

          {else}
            <div class="t-exp--file t-exp--file__{$file->scope}">

              <a href="{$baseUrl}/{$file->path}">
                <div class="t-exp--file__preview">
                  {if $file->thumbnail }
                    {img $file->thumbnail}
                  {else}
                    <img src="{$baseUrl}/static-content/experiments/{$file->scope}.png">
                  
                  {/if}
                </div>

                <h3 class="t-exp--file__name">{$file->name}</h3>

              </a>

                <div class="t-exp--file__description">
                  {$file->description}
                </div>

                <div class="t-exp--file__link">
                
                    <a href="{$baseUrl}/{$file->path}">

                      {_fields.upload.ops.download_file }

                      {$file->extension|upper}

                      ({$file->size|bytes})
                      
                    </a>

                    {if $user->isAllowed("experiment","edit")}
                      <br>
                      <a n:href="Experiment:editFile $file->id">{_fields.upload.ops.edit_file}</a>
                    {/if}

                </div>

            </div>
          {/if}
        </div>

      </div>
    
    </div>
  {/if}

  {* If there are any files left, show the prompt *}
  {if $prompt}
    <div class="files files--teaser container text-center pt-3">
      <p>{$item->teaser}</p>
      <div class="">
        <a n:href=":Front:Sign:register" class="btn btn-secondary">{_sign.register.title}</a>
        <a n:href=":Front:Sign:login" class="btn btn-outline-secondary">{_sign.login.title}</a>
      </div>
    </div>
  {/if}

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="py-5 col-12">
      <h2 class="text-center">{_experiment.views.detail.further_experiments}</h2>
    </div>

    <div class="t-exp--list__teasers t-exp--list__teasers__condensed">
      {if count( $experiments ) >= 0}
        {foreach $experiments as $experiment}
          {include "experimentThumbnail.latte", item: $experiment, classes: "" }
        {/foreach}
      {/if}
    </div>

  </div>
</div>

{/block}