
{var $titleSuffix = true }
{var $layoutColumn = false }

{block content}

  {if $user->isAllowed("experiment")}
  <div class="col-12 text-center pb-3">
    <a n:href="Experiment:detail $item->slug">{_experiment.views.edit.show_detail}</a>
  </div>
  {/if}

  <div class="col-12 col-md-6">
    {control experimentForm}
  </div>
  <div class="col-12 col-md-6">
    {if $filesCount > 0}
      <h4>{_experiment.views.edit.forms.material_overview}</h4>
      {control experimentFilesOverview}
    {/if}
    <h4>{_experiment.views.edit.forms.material_add}</h4>
    {control experimentFilesForm}
  </div>
{/block}