<a class="{$classes} t-exp__teaser" n:href=":Admin:Experiment:detail $item->slug">
  <div class="t-exp--wrap">

    {var $img = $baseUrl ."/uploads/" . $item->thumb}

    <div class="t-exp--image" style="background-image:url( {$img} )">
    </div>

    <div class="t-exp--content">

        <h2 class="t-exp--title">{$item->name}</h2>

        {if count( $item->taxonomies) > 0}
        <div class="tax">

            <div n:foreach="$item->taxonomies as $scope" class="{$scope['name']}">

                <ul class="t-exp--tags">
                    <li n:foreach="$scope['items'] as $taxonomy" class="t-exp--tag__{$scope['color']} t-exp--tag__small t-exp--tag-id__{$taxonomy->id}">
                        {$taxonomy->name}
                    </li> 
                </ul>

            </div>

        </div>
    {/if}

    <div class="t-exp--desc">{$item->excerpt}</div>

    <div class="t-exp--link">
        <span class="t-exp--button">Zobrazit</span>
    </div>
    
    </div>
    
    

    
    
  </div>
</a>