<div n:if="$data->count() > 0" class="row pb-2">
  <div class="col-12 col-sm-4">
    {$title|translate}
  </div>
  <div class="col-12 col-sm-8">
    <ul class="t-exp--tags">
      <li n:foreach="$data as $item" class="t-exp--tag__{$color} t-exp--tag__small">
        <a n:href="Experiment:category $item->slug">
          {$item->name}
        </a>
      </li>
    </ul>
  </div>
</div>