<div class="t-exp--filter">
  <h2 class="t-exp--filter--title">{$data["title"]}</h2>
  <ul class="t-exp--filter--links">
    {foreach $data["items"] as $key => $item}
      {var $view = $item['view']}
      {var $class = $item['class']}
      <li>
        <a n:href='Experiment:$view $key' class="t-exp--filter--link t-exp--filter--link__{$class}"> {$item["name"]} ({$item["count"]})</a>
      </li>
    {/foreach}
  </ul>
</div>