<div class="col-12 col-md-4 col-lg-3 t-experiment--teaser pb-3">
  <a n:href="Experiment:detail $rel->slug" class="t-experiment--teaser--link">

    {var $img = $baseUrl ."/uploads/" . $rel->thumb}
    <div class="t-experiment--teaser--image" style="background-image:url( {$img} )">
    </div>
    <h2 class="t-experiment--teaser--title">{$rel->name}</h2>
    <div class="t-experiment--teaser--excerpt">{$rel->excerpt}</div>
    
  </a>
</div>